{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage access point resources in mobile network",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/accessPoints/{accessPointName}": {
      "delete": {
        "tags": [
          "AccessPoints"
        ],
        "operationId": "AccessPoints_Delete",
        "description": "Deletes the specified access point.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the access point."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Delete access point resource": {
            "$ref": "./examples/AccessPointDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "AccessPoints"
        ],
        "operationId": "AccessPoints_Get",
        "description": "Gets information about the specified access point.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of access point."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPoint"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get access point ": {
            "$ref": "./examples/AccessPointGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "AccessPoints"
        ],
        "operationId": "AccessPoints_CreateOrUpdate",
        "description": "Creates or updates a access point.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the access point resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessPoint"
            },
            "description": "Parameters supplied to the create or update access point operation."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPoint"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPoint"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Create access point ": {
            "$ref": "./examples/AccessPointCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "AccessPoints"
        ],
        "operationId": "AccessPoints_UpdateTags",
        "description": "Updates a access point update tags.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "accessPointName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the access point."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update access point tags."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting access point resource.",
            "schema": {
              "$ref": "#/definitions/AccessPoint"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Update access point tags": {
            "$ref": "./examples/AccessPointUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/accessPoints": {
      "get": {
        "tags": [
          "AccessPoints"
        ],
        "operationId": "AccessPoints_ListBySubscription",
        "description": "Gets all the access points in a subscription.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of access point  resources.",
            "schema": {
              "$ref": "#/definitions/AccessPointListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List all access points": {
            "$ref": "./examples/AccessPointListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/accessPoints": {
      "get": {
        "tags": [
          "AccessPoints"
        ],
        "operationId": "AccessPoints_ListByResourceGroup",
        "description": "Gets all the access points in a subscription.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of access point  resources.",
            "schema": {
              "$ref": "#/definitions/AccessPointListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List access points in resource group": {
            "$ref": "./examples/AccessPointListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AccessPoint": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AccessPointPropertiesFormat",
          "description": "Access point properties."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ],
      "description": "Access point resource."
    },
    "AccessPointPropertiesFormat": {
      "description": "Access point properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the access point resource."
        },
        "packetDataNetworkName": {
          "type": "string",
          "description": "The unique id of the mobile network"
        },
        "packetCoreid": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the packet core."
        },
        "dnsAddresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The dns addresses of the access point."
        },
        "dnsProvider": {
          "type": "string",
          "description": "The dns provider for the access point"
        }
      }
    },
    "AccessPointListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessPoint"
          },
          "description": "A list of access points in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for access point s API service call."
    }
  }
}
