{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage eNodeB resources",
    "version": "2020-06-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/eNodeBs/{eNodeBName}": {
      "delete": {
        "tags": [
          "ENodeBs"
        ],
        "operationId": "ENodeBs_Delete",
        "description": "Deletes the specified eNodeB.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "eNodeBName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the eNodeB."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Delete eNodeB resource": {
            "$ref": "./examples/ENodeBDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "ENodeBs"
        ],
        "operationId": "ENodeBs_Get",
        "description": "Gets information about the specified eNodeB.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "eNodeBName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of eNodeB."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting eNodeB resource.",
            "schema": {
              "$ref": "#/definitions/ENodeB"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get eNodeB": {
            "$ref": "./examples/ENodeBGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "ENodeBs"
        ],
        "operationId": "ENodeBs_CreateOrUpdate",
        "description": "Creates or updates an eNodeB.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "eNodeBName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the eNodeB resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ENodeB"
            },
            "description": "Parameters supplied to the create or update eNodeB operation."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting eNodeB resource.",
            "schema": {
              "$ref": "#/definitions/ENodeB"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting eNodeB resource.",
            "schema": {
              "$ref": "#/definitions/ENodeB"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Create eNodeB": {
            "$ref": "./examples/ENodeBCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "ENodeBs"
        ],
        "operationId": "ENodeBs_UpdateTags",
        "description": "Updates an eNodeB update tags.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "eNodeBName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the eNodeB."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update eNodeB tags."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting eNodeB resource.",
            "schema": {
              "$ref": "#/definitions/ENodeB"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Update eNodeB tags": {
            "$ref": "./examples/ENodeBUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/eNodeBs": {
      "get": {
        "tags": [
          "ENodeBs"
        ],
        "operationId": "ENodeBs_ListBySubscription",
        "description": "Lists all the eNodeBs in a subscription.",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of eNodeB resources.",
            "schema": {
              "$ref": "#/definitions/ENodeBListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List all eNodeBs": {
            "$ref": "./examples/ENodeBListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/eNodeBs": {
      "get": {
        "tags": [
          "ENodeBs"
        ],
        "operationId": "ENodeBs_ListByResourceGroup",
        "description": "Lists all the eNodeBs in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of eNodeB resources.",
            "schema": {
              "$ref": "#/definitions/ENodeBListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List eNodeBs in resource group": {
            "$ref": "./examples/ENodeBListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ENodeB": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ENodeBPropertiesFormat",
          "description": "ENodeB properties."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ],
      "description": "ENodeB resource."
    },
    "ENodeBPropertiesFormat": {
      "description": "ENodeB properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the eNodeB resource."
        },
        "vendorProvisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the vendor."
        },
        "mobileNetwork": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the mobile network resource."
        },
        "skuVendor": {
          "type": "string",
          "description": "The appliance vendor for the eNodeB."
        },
        "skuModel": {
          "type": "string",
          "description": "The sku for the eNodeB."
        },
        "eNodeBId": {
          "type": "string",
          "description": "The unique identifier for the eNodeB within the mobile network."
        },
        "eNodeBIPAddress": {
          "type": "string",
          "description": "The data plane IP address of the eNodeB."
        },
        "locationLatitude": {
          "type": "string",
          "description": "The device location latitude."
        },
        "locationLongitude": {
          "type": "string",
          "description": "The device location longitude."
        },
        "mmeIPAddress": {
          "type": "string",
          "description": "The IP address of the MME on S1MME interface."
        },
        "mmePortNumber": {
          "type": "string",
          "description": "The communication port of the MME."
        }
      }
    },
    "ENodeBListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ENodeB"
          },
          "description": "A list of eNodeBs in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for eNodeBs API service call."
    }
  }
}