{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2020-11-01-preview",
    "x-ms-code-generation-settings": {
      "name": "AzureStackHCIClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
            "user_impersonation": "impersonate your user account"
        }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/networkinterfaces/{networkinterfacesName}": {
      "get": {
        "operationId": "networkinterfaces_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        }
      },
      "put": {
        "operationId": "networkinterfaces_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkinterfaces",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          },
          "201": {
            "description": "Creates the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        }
      },
      "delete": {
        "operationId": "networkinterfaces_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the networkinterfaces resource."
          }
        }
      },
      "patch": {
        "operationId": "networkinterfaces_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/networkinterfacesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkinterfaces",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/networkinterfacesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          },
          "201": {
            "description": "Updates the networkinterfaces resource.",
            "schema": {
              "$ref": "#/definitions/networkinterfaces"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/networkinterfaces": {
      "get": {
        "operationId": "networkinterfaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all networkinterfaces under the resouce group.",
            "schema": {
              "$ref": "#/definitions/networkinterfacesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/networkinterfaces": {
      "get": {
        "operationId": "networkinterfaces_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all networkinterfaces under the subscription.",
            "schema": {
              "$ref": "#/definitions/networkinterfacesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "networkinterfacesProperties": {
      "type": "object",
      "properties": {
        "ipConfigurations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name - The name of the resource that is unique within a resource group. This name can be used to access the resource."
              },
              "properties": {
                "type": "object",
                "properties": {
                  "gateway": {
                    "type": "string",
                    "description": "Gateway"
                  },
                  "prefixlength": {
                    "type": "string",
                    "description": "PrefixLength"
                  },
                  "privateIPAddress": {
                    "type": "string",
                    "description": "PrivateIPAddress - Private IP address of the IP configuration."
                  },
                  "privateIPAllocationMethod": {
                    "type": "string",
                    "description": "PrivateIPAllocationMethod - The private IP address allocation method. Possible values include: 'Static', 'Dynamic'"
                  },
                  "subnet": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID - The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
                      }
                    },
                    "description": "Subnet - Name of Subnet bound to the IP configuration."
                  }
                },
                "description": "InterfaceIPConfigurationPropertiesFormat properties of IP configuration."
              }
            },
            "description": "InterfaceIPConfiguration iPConfiguration in a network interface."
          },
          "description": "IPConfigurations - A list of IPConfigurations of the network interface."
        },
        "macAddress": {
          "type": "string",
          "description": "MacAddress - The MAC address of the network interface."
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "description": "MOCNetworkInterfaceStatus defines the observed state of MOCNetworkInterface"
        }
      },
      "description": "MOCNetworkInterfaceSpec defines the desired state of MOCNetworkInterface"
    },
    "networkinterfaces": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/networkinterfacesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The networkinterfaces resource definition."
    },
    "networkinterfacesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The networkinterfaces resource patch definition."
    },
    "networkinterfacesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/networkinterfaces"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    },
    "networkinterfacesNameParameter": {
      "name": "networkinterfacesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  }
}
