{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2020-11-01-preview",
    "x-ms-code-generation-settings": {
      "name": "AzureStackHCIClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
            "user_impersonation": "impersonate your user account"
        }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualmachines/{virtualmachinesName}": {
      "get": {
        "operationId": "virtualmachines_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the virtualmachines resource.",
            "schema": {
              "$ref": "#/definitions/virtualmachines"
            }
          }
        }
      },
      "put": {
        "operationId": "virtualmachines_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualmachines",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualmachines"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the virtualmachines resource.",
            "schema": {
              "$ref": "#/definitions/virtualmachines"
            }
          },
          "201": {
            "description": "Creates the virtualmachines resource.",
            "schema": {
              "$ref": "#/definitions/virtualmachines"
            }
          }
        }
      },
      "delete": {
        "operationId": "virtualmachines_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the virtualmachines resource."
          }
        }
      },
      "patch": {
        "operationId": "virtualmachines_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualmachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualmachines",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualmachinesPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the virtualmachines resource.",
            "schema": {
              "$ref": "#/definitions/virtualmachines"
            }
          },
          "201": {
            "description": "Updates the virtualmachines resource.",
            "schema": {
              "$ref": "#/definitions/virtualmachines"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualmachines": {
      "get": {
        "operationId": "virtualmachines_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all virtualmachines under the resouce group.",
            "schema": {
              "$ref": "#/definitions/virtualmachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/virtualmachines": {
      "get": {
        "operationId": "virtualmachines_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all virtualmachines under the subscription.",
            "schema": {
              "$ref": "#/definitions/virtualmachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "virtualmachinesProperties": {
      "type": "object",
      "properties": {
        "hardwareprofile": {
          "type": "object",
          "properties": {
            "vmsize": {
              "type": "string"
            }
          },
          "description": "HardwareProfile - Specifies the hardware settings for the virtual machine."
        },
        "networkprofile": {
          "type": "object",
          "properties": {
            "networkinterfaces": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID - Resource Id"
                  }
                }
              },
              "description": "NetworkInterfaces"
            }
          },
          "description": "NetworkProfile"
        },
        "osprofile": {
          "type": "object",
          "properties": {
            "adminpassword": {
              "type": "string",
              "description": "AdminPassword"
            },
            "adminusername": {
              "type": "string",
              "description": "AdminUsername"
            },
            "computername": {
              "type": "string",
              "description": "ComputerName"
            },
            "linuxconfiguration": {
              "type": "object",
              "properties": {
                "disablePasswordAuthentication": {
                  "type": "boolean",
                  "description": "DisablePasswordAuthentication"
                },
                "ssh": {
                  "type": "object",
                  "properties": {
                    "publicKeys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyData": {
                            "type": "string",
                            "description": "KeyData - SSH public key certificate used to authenticate with the VM through ssh. The key needs to be at least 2048-bit and in ssh-rsa format. <br><br> For creating ssh keys, see [Create SSH keys on Linux and Mac for Li      nux VMs in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-mac-create-ssh-keys?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path - Specifies the full path on the created VM where ssh public key is stored. If the file already exists, the specified key is appended to the file. Example: /home/user/.ssh/authorized_keys"
                          }
                        }
                      },
                      "description": "PublicKeys - The list of SSH public keys used to authenticate with linux based VMs."
                    }
                  },
                  "description": "SSH"
                }
              },
              "description": "LinuxConfiguration"
            },
            "osType": {
              "type": "string",
              "description": "OsType"
            },
            "windowsconfiguration": {
              "type": "object",
              "properties": {
                "enableAutomaticUpdates": {
                  "type": "boolean",
                  "description": "EnableAutomaticUpdates"
                },
                "ssh": {
                  "type": "object",
                  "properties": {
                    "publicKeys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "keyData": {
                            "type": "string",
                            "description": "KeyData - SSH public key certificate used to authenticate with the VM through ssh. The key needs to be at least 2048-bit and in ssh-rsa format. <br><br> For creating ssh keys, see [Create SSH keys on Linux and Mac for Li      nux VMs in Azure](https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-mac-create-ssh-keys?toc=%2fazure%2fvirtual-machines%2flinux%2ftoc.json)."
                          },
                          "path": {
                            "type": "string",
                            "description": "Path - Specifies the full path on the created VM where ssh public key is stored. If the file already exists, the specified key is appended to the file. Example: /home/user/.ssh/authorized_keys"
                          }
                        }
                      },
                      "description": "PublicKeys - The list of SSH public keys used to authenticate with linux based VMs."
                    }
                  },
                  "description": "AdditionalUnattendContent AdditionalUnattendContent *[]AdditionalUnattendContent `json:\"additionalUnattendContent,omitempty\"` SSH"
                },
                "timeZone": {
                  "type": "string",
                  "description": "TimeZone"
                }
              },
              "description": "Windows Configuration"
            }
          },
          "description": "OsProfile"
        },
        "securityProfile": {
          "type": "object",
          "properties": {
            "enabletpm": {
              "type": "boolean"
            }
          },
          "description": "SecurityProfile - Specifies the security settings for the virtual machine."
        },
        "storageprofile": {
          "type": "object",
          "properties": {
            "datadisks": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "description": "add data disks"
            },
            "imagereference": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name - Name of the image"
                }
              },
              "description": "Which Image to use"
            }
          },
          "description": "StorageProfile"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "description": "MOCVirtualMachineStatus defines the observed state of MOCVirtualMachine"
        }
      },
      "description": "MOCVirtualMachineSpec defines the desired state of MOCVirtualMachine"
    },
    "virtualmachines": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/virtualmachinesProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocations": [
          {
              "type": "CustomLocation",
              "supportedPolicy": "NotSpecified"
          }
      ],
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The virtualmachines resource definition."
    },
    "virtualmachinesPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The virtualmachines resource patch definition."
    },
    "virtualmachinesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/virtualmachines"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    },
    "virtualmachinesNameParameter": {
      "name": "virtualmachinesName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  }
}
