{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2020-11-01-preview",
    "x-ms-code-generation-settings": {
      "name": "AzureStackHCIClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
            "user_impersonation": "impersonate your user account"
        }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualharddisks/{virtualharddisksName}": {
      "get": {
        "operationId": "virtualharddisks_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualharddisksNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the virtualharddisks resource.",
            "schema": {
              "$ref": "#/definitions/virtualharddisks"
            }
          }
        }
      },
      "put": {
        "operationId": "virtualharddisks_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualharddisksNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualharddisks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualharddisks"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the virtualharddisks resource.",
            "schema": {
              "$ref": "#/definitions/virtualharddisks"
            }
          },
          "201": {
            "description": "Creates the virtualharddisks resource.",
            "schema": {
              "$ref": "#/definitions/virtualharddisks"
            }
          }
        }
      },
      "delete": {
        "operationId": "virtualharddisks_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualharddisksNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the virtualharddisks resource."
          }
        }
      },
      "patch": {
        "operationId": "virtualharddisks_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/virtualharddisksNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "virtualharddisks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/virtualharddisksPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the virtualharddisks resource.",
            "schema": {
              "$ref": "#/definitions/virtualharddisks"
            }
          },
          "201": {
            "description": "Updates the virtualharddisks resource.",
            "schema": {
              "$ref": "#/definitions/virtualharddisks"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/virtualharddisks": {
      "get": {
        "operationId": "virtualharddisks_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all virtualharddisks under the resouce group.",
            "schema": {
              "$ref": "#/definitions/virtualharddisksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/virtualharddisks": {
      "get": {
        "operationId": "virtualharddisks_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all virtualharddisks under the subscription.",
            "schema": {
              "$ref": "#/definitions/virtualharddisksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "virtualharddisksProperties": {
      "type": "object",
      "properties": {
        "blocksizebytes": {
          "type": "integer",
          "format": "int32"
        },
        "disksizebytes": {
          "type": "integer",
          "format": "int64",
          "description": "DiskSizeBytes"
        },
        "dynamic": {
          "type": "boolean",
          "description": "Dynamic"
        },
        "logicalsectorbytes": {
          "type": "integer",
          "format": "int32"
        },
        "physicalsectorbytes": {
          "type": "integer",
          "format": "int32"
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "description": "MOCVirtualHardDiskStatus defines the observed state of MOCVirtualHardDisk"
        }
      },
      "description": "MOCVirtualHardDiskSpec defines the desired state of MOCVirtualHardDisk"
    },
    "virtualharddisks": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/virtualharddisksProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The virtualharddisks resource definition."
    },
    "virtualharddisksPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The virtualharddisks resource patch definition."
    },
    "virtualharddisksListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/virtualharddisks"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    },
    "virtualharddisksNameParameter": {
      "name": "virtualharddisksName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    }
  }
}
