{
  "swagger": "2.0",
  "info": {
    "title": "GitHub.Enterprise",
    "description": "GitHub.Enterprise resource provider",
    "version": "2020-09-23-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/GitHub.Enterprise/accounts": {
      "get": {
        "description": "Returns a list of GitHub accounts under the given subscription.",
        "operationId": "accounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of GitHub account details.",
            "schema": {
              "$ref": "#/definitions/accountsResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Account does not exist).",
            "schema": {
              "$ref": "#/definitions/GitHubEnterpriseAccountErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "accounts_ListBySubscription": {
            "$ref": "./examples/accounts_ListBySubscription_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Enterprise/accounts": {
      "get": {
        "description": "Returns a list of GitHub accounts under the given subscription and resource group.",
        "operationId": "accounts_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of GitHub account details.",
            "schema": {
              "$ref": "#/definitions/accountsResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Account does not exist).",
            "schema": {
              "$ref": "#/definitions/GitHubEnterpriseAccountErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "accounts_ListByResourceGroup": {
            "$ref": "./examples/accounts_ListByResourceGroup_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Enterprise/accounts/{accountName}": {
      "get": {
        "description": "Returns the GitHub account resource for a given name.",
        "operationId": "accounts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "GitHub account details.",
            "schema": {
              "$ref": "#/definitions/accountsResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Account does not exist).",
            "schema": {
              "$ref": "#/definitions/GitHubEnterpriseAccountErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_Get": {
            "$ref": "./examples/accounts_Get_example.json"
          }
        }
      },
      "put": {
        "description": "Create or update a GitHub account resource.",
        "operationId": "accounts_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "name": "account",
            "description": "GitHub account details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/accountsResource"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/accountsResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Account could not be created/updated).",
            "schema": {
              "$ref": "#/definitions/GitHubEnterpriseAccountErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_CreateAndUpdate": {
            "$ref": "./examples/accounts_CreateAndUpdate_example.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "description": "Update a GitHub account.",
        "operationId": "accounts_Update",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "name": "account",
            "description": "GitHub account patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/accountsPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/accountsResource"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/accountsResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Account does not exist).",
            "schema": {
              "$ref": "#/definitions/GitHubEnterpriseAccountErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_Update": {
            "$ref": "./examples/accounts_Update_example.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "description": "Delete a GitHub account.",
        "operationId": "accounts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful; Account was deleted."
          },
          "202": {
            "description": "Accepted."
          },
          "204": {
            "description": "Successful; Account does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict (Account is in a non-terminal state due to an ongoing operation).",
            "schema": {
              "$ref": "#/definitions/GitHubEnterpriseAccountErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "accounts_Delete": {
            "$ref": "./examples/accounts_Delete_example.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/providers/GitHub.Enterprise/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/GitHubEnterpriseOperationsErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "operation_List": {
            "$ref": "./examples/operation_List_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the sub status for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "GitHubEnterpriseOperationsErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "GitHubEnterpriseAccountErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "accountsResource": {
      "type": "object",
      "description": "Account details.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "title": "Account properties",
          "description": "Additional GitHub.Enterprise/account properties",
          "required": [
            "firstAdminEmail",
            "firstAdminUsername"
          ],
          "properties": {
            "provisioningState": {
              "description": "The provisioning state of the account.",
              "type": "string",
              "readOnly": true
            },
            "firstAdminEmail": {
              "description": "First admin user email address.",
              "type": "string",
              "pattern": "\\S+@\\S+\\.\\S+"
            },
            "firstAdminUsername": {
              "description": "First admin username.",
              "type": "string"
            }
          }
        }
      }
    },
    "accountsPatchResource": {
      "type": "object",
      "description": "Account patch properties.",
      "properties": {
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "accountsResourceList": {
      "description": "The list of GitHub accounts.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of GitHub accounts.",
          "type": "string"
        },
        "value": {
          "description": "The list of GitHub accounts.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/accountsResource"
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": [
        "value"
      ]
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "accountNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the GitHub account.",
      "x-ms-parameter-location": "method"
    }
  }
}
