{
  "swagger": "2.0",
  "info": {
    "title": "SCVMM",
    "description": "The Microsoft.SCVMM Rest API spec.",
    "version": "2020-06-05-preview",
    "x-ms-code-generation-settings": {
      "name": "SCVMMClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VMMServers/{VMMServersName}": {
      "get": {
        "operationId": "VMMServers_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VMMServersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the VMMServers resource.",
            "schema": {
              "$ref": "#/definitions/VMMServers"
            }
          }
        }
      },
      "put": {
        "operationId": "VMMServers_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VMMServersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "VMMServers",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VMMServers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the VMMServers resource.",
            "schema": {
              "$ref": "#/definitions/VMMServers"
            }
          },
          "201": {
            "description": "Creates the VMMServers resource.",
            "schema": {
              "$ref": "#/definitions/VMMServers"
            }
          }
        }
      },
      "delete": {
        "operationId": "VMMServers_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VMMServersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the VMMServers resource."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VMMServers": {
      "get": {
        "operationId": "VMMServers_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VMMServers under the resouce group.",
            "schema": {
              "$ref": "#/definitions/VMMServersListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SCVMM/VMMServers": {
      "get": {
        "operationId": "VMMServers_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VMMServers under the subscription.",
            "schema": {
              "$ref": "#/definitions/VMMServersListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.SCVMM/operations": {
	
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/Clouds/{CloudsName}": {
      "get": {
        "operationId": "Clouds_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Clouds resource.",
            "schema": {
              "$ref": "#/definitions/Clouds"
            }
          }
        }
      },
      "put": {
        "operationId": "Clouds_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "Clouds",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Clouds"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the Clouds resource.",
            "schema": {
              "$ref": "#/definitions/Clouds"
            }
          },
          "201": {
            "description": "Creates the Clouds resource.",
            "schema": {
              "$ref": "#/definitions/Clouds"
            }
          }
        }
      },
      "delete": {
        "operationId": "Clouds_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CloudsNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the Clouds resource."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/Clouds": {
      "get": {
        "operationId": "Clouds_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Clouds under the resouce group.",
            "schema": {
              "$ref": "#/definitions/CloudsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SCVMM/Clouds": { 
	"get": {
        "operationId": "Clouds_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Clouds under the subscription.",
            "schema": {
              "$ref": "#/definitions/CloudsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	 "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VirtualNetworks/{VirtualNetworksName}": {
      "get": {
        "operationId": "VirtualNetworks_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworksNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the VirtualNetworks resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          }
        }
      },
      "put": {
        "operationId": "VirtualNetworks_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworksNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "VirtualNetworks",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the VirtualNetworks resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          },
          "201": {
            "description": "Creates the VirtualNetworks resource.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworks"
            }
          }
        }
      },
      "delete": {
        "operationId": "VirtualNetworks_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualNetworksNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the VirtualNetworks resource."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VirtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualNetworks under the resouce group.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SCVMM/VirtualNetworks": {
      "get": {
        "operationId": "VirtualNetworks_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualNetworks under the subscription.",
            "schema": {
              "$ref": "#/definitions/VirtualNetworksListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	 "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VirtualMachines/{VirtualMachinesName}": {
      "get": {
        "operationId": "VirtualMachines_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the VirtualMachines resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachines"
            }
          }
        }
      },
      "put": {
        "operationId": "VirtualMachines_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "VirtualMachines",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachines"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the VirtualMachines resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachines"
            }
          },
          "201": {
            "description": "Creates the VirtualMachines resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachines"
            }
          }
        }
      },
      "delete": {
        "operationId": "VirtualMachines_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachinesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the VirtualMachines resource."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VirtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachines under the resouce group.",
            "schema": {
              "$ref": "#/definitions/VirtualMachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SCVMM/VirtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachines under the subscription.",
            "schema": {
              "$ref": "#/definitions/VirtualMachinesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
	"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VirtualMachineTemplates/{VirtualMachineTemplatesName}": {
      "get": {
        "operationId": "VirtualMachineTemplates_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineTemplatesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the VirtualMachineTemplates resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplates"
            }
          }
        }
      },
      "put": {
        "operationId": "VirtualMachineTemplates_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineTemplatesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "VirtualMachineTemplates",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplates"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the VirtualMachineTemplates resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplates"
            }
          },
          "201": {
            "description": "Creates the VirtualMachineTemplates resource.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplates"
            }
          }
        }
      },
      "delete": {
        "operationId": "VirtualMachineTemplates_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VirtualMachineTemplatesNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the VirtualMachineTemplates resource."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SCVMM/VirtualMachineTemplates": {
      "get": {
        "operationId": "VirtualMachineTemplates_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachineTemplates under the resouce group.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplatesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SCVMM/VirtualMachineTemplates": {
      "get": {
        "operationId": "VirtualMachineTemplates_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all VirtualMachineTemplates under the subscription.",
            "schema": {
              "$ref": "#/definitions/VirtualMachineTemplatesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "VMMServersProperties": {
      "properties": {
        "credentialsSecretRef": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of resource that is being referred."
            },
            "namespace": {
              "type": "string",
              "description": "Namespace of resource that is being referred."
            }
          },
          "description": "CredentialsSecretRef is the reference to the Kubernetes secret that has the 'username' and 'password' key/value pairs to use for connecting to vmmServer."
        },
        "fqdn": {
          "type": "string",
          "description": "Fqdn is the hostname/ip of the vmmServer.",
          "minLength": 1
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port is the port on which the vmmServer is listening.",
          "maximum": 65535.0,
          "minimum": 1.0
        },
        "provisioningState": {
          "type": "string"
        },
        "status": {
          "type": "object",
          "properties": {
            "connectionStatus": {
              "type": "string",
              "description": "define observed state of cluster",
              "enum": [
                "NotAttempted",
                "Connecting",
                "Connected",
                "Disconnected"
              ]
            },
            "errorMessage": {
              "type": "string",
              "description": "ErrorMessage will be set in the event that there is a terminal problem reconciling the vmmServer and will contain a more verbose string suitable for logging and human consumption. \n This field should not be set for transitive errors that a controller faces that are expected to be fixed automatically over time (like service outages), but instead indicate that something is fundamentally wrong with the vmmServer's spec or the configuration of the controller, and that manual intervention is required. Examples of terminal errors would be invalid combinations of settings in the spec, values that are unsupported by the controller, or the responsible controller itself being critically misconfigured. \n Any transient errors that occur during the reconciliation of vmmServers can be added as events to the vmmServer object and/or logged in the controller's output."
            },
            "instanceUUID": {
              "type": "string",
              "description": "InstanceUUID is the managed object reference ID of the vmmServer  modeled by this resource."
            },
            "observedGeneration": {
              "type": "integer",
              "format": "int64",
              "description": "ObservedGeneration is the last known generation observed in the vmmServer resource."
            },
            "provisioningStatus": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Code contains any error code associated with the message."
                    },
                    "message": {
                      "type": "string",
                      "description": "Message contains the string suitable for logging and human consumption."
                    }
                  },
                  "description": "Error will be set in the event that there is a terminal problem reconciling the resource."
                },
                "operationID": {
                  "type": "string",
                  "description": "OperationID is the unique identifier for tracking any operation associated with this resource."
                },
                "status": {
                  "type": "string",
                  "description": "Status describes the job completion status. Only one of the following provisioning status may be specified.",
                  "enum": [
                    "Provisioning",
                    "Succeeded",
                    "Failed",
                    "Cancelled"
                  ]
                }
              },
              "description": "ProvisioningStatus describes the provisioning status of the resource."
            },
            "version": {
              "type": "string",
              "description": "Version is the version of the VMMServer modeled by this resource."
            }
          },
          "description": "VMMServerStatus defines the observed state of VMMServer"
        }
      }
    },
    "VMMServers": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VMMServersProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The VMMServers resource definition."
    },
    "VMMServersListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VMMServers"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
	 "CloudsProperties": {
      "properties": {
        "uuid": {
          "type": "string",
          "description": "Unique ID of resource pool.",
          "minLength": 1
        },
        "vmmServerRef": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of resource that is being referred."
            },
            "namespace": {
              "type": "string",
              "description": "Namespace of resource that is being referred."
            }
          },
          "description": "VMMServer ResourceReference contains resource information such as name and namespace."
        },
        "status": {
          "type": "object",
          "properties": {
            "cpuCount": {
              "type": "integer",
              "format": "int64",
              "description": "Number of CPUs allocated in the cloud"
            },
            "memLimitMB": {
              "type": "integer",
              "format": "int64",
              "description": "MemLimitMB specifies a memory usage limit in megabytes."
            },
            "name": {
              "type": "string",
              "description": "Name of the cloud."
            },
            "observedGeneration": {
              "type": "integer",
              "format": "int64",
              "description": "ObservedGeneration is the last known generation observed for the resource."
            },
            "resourceStatus": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "CreatedAt is time at which resource was previously created."
                },
                "lastConfigurationAttempt": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Error contains the error details of the last configure attempt."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "StartedAt is UTC time at which this phase started."
                    },
                    "taskInfo": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "errorMessage": {
                          "type": "string"
                        },
                        "isSuccess": {
                          "type": "boolean",
                          "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                        },
                        "progress": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "status": {
                          "type": "string"
                        },
                        "taskRef": {
                          "type": "string"
                        },
                        "taskType": {
                          "type": "string"
                        }
                      },
                      "description": "TaskInfo holds the details of last configured task."
                    }
                  },
                  "description": "LastConfigurationAttempt indicates the details of the last configuration attempt."
                },
                "lastSyncAttempt": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Error contains the error details of the last sync attempt."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "StartedAt is UTC time at which this phase started."
                    }
                  },
                  "description": "LastSyncAttempt indicates the details of the last sync attempt."
                },
                "state": {
                  "type": "object",
                  "properties": {
                    "configuring": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "configuring": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Configuring indicates resource configuration is underway."
                            },
                            "syncing": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "StartedAt is UTC time at which this phase started."
                                }
                              },
                              "description": "Syncing indicates resource configuration is syncing."
                            }
                          },
                          "description": "Phase is the ResourceStateConfiguring substate."
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Configuring state."
                    },
                    "createError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Contains details about CreateError state."
                    },
                    "creating": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "creating": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Creating indicates resource creation is underway."
                            },
                            "customizing": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Customizing indicates resource customization is underway."
                            },
                            "postCreating": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "StartedAt is UTC time at which this phase started."
                                }
                              },
                              "description": "PostCreating indicates resource post create activities are underway."
                            },
                            "poweringUp": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "PoweringUp indicates resource power up is underway."
                            },
                            "syncing": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "description": "Syncing indicates resource is syncing."
                            }
                          },
                          "description": "Phase is the ResourceStateCreating substate."
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Creating state."
                    },
                    "deleteError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Contains details about DeleteError state."
                    },
                    "deletePreflight": {
                      "type": "object",
                      "properties": {
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about DeletePreflight state."
                    },
                    "deleting": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "deleting": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Deleting indicates current resource configuration is deleting."
                            },
                            "poweringOff": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "PoweringOff indicates resource power off is underway."
                            },
                            "retry": {
                              "type": "object",
                              "properties": {
                                "nextRetryAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "description": "Retry indicates retry the delete operation."
                            }
                          },
                          "description": "Phase is the ResourceStateDeleting substate."
                        },
                        "retryAttempt": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Deleting state."
                    },
                    "ok": {
                      "type": "object",
                      "properties": {
                        "nextSyncAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "NextSyncAt is UTC time at or after which the next sync should happen."
                        }
                      },
                      "description": "Contains details about OK state."
                    },
                    "syncError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Contains details about SyncError state."
                    },
                    "syncing": {
                      "type": "object",
                      "properties": {
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Syncing state."
                    }
                  },
                  "description": "ResourceState defines various states for a resource. Only one of the fields below is set."
                }
              },
              "description": "ResourceStatus defines appropriate status fields for a resource."
            },
            "vmCount": {
              "type": "integer",
              "format": "int64",
              "description": "VMCount gives the max number of VMs"
            }
          },
          "description": "CloudStatus defines the observed state of Cloud"
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "Clouds": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudsProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The Clouds resource definition."
    },
    "CloudsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Clouds"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
	"VirtualNetworksProperties": {
      "properties": {
        "uuid": {
          "type": "string",
          "description": "ID used to uniquily identify the virtual network.",
          "minLength": 1
        },
        "vmmServerRef": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of resource that is being referred."
            },
            "namespace": {
              "type": "string",
              "description": "Namespace of resource that is being referred."
            }
          },
          "description": "VMMServer ResourceReference contains resource information such as name and namespace."
        },
        "status": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of the virtual network."
            },
            "observedGeneration": {
              "type": "integer",
              "format": "int64",
              "description": "ObservedGeneration is the last known generation observed for the resource."
            },
            "owner": {
              "type": "string",
              "description": "Owner of the virtual network."
            },
            "resourceStatus": {
              "type": "object",
              "properties": {
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "CreatedAt is time at which resource was previously created."
                },
                "lastConfigurationAttempt": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Error contains the error details of the last configure attempt."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "StartedAt is UTC time at which this phase started."
                    },
                    "taskInfo": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string"
                        },
                        "errorMessage": {
                          "type": "string"
                        },
                        "isSuccess": {
                          "type": "boolean",
                          "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                        },
                        "progress": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "status": {
                          "type": "string"
                        },
                        "taskRef": {
                          "type": "string"
                        },
                        "taskType": {
                          "type": "string"
                        }
                      },
                      "description": "TaskInfo holds the details of last configured task."
                    }
                  },
                  "description": "LastConfigurationAttempt indicates the details of the last configuration attempt."
                },
                "lastSyncAttempt": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Error contains the error details of the last sync attempt."
                    },
                    "startedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "StartedAt is UTC time at which this phase started."
                    }
                  },
                  "description": "LastSyncAttempt indicates the details of the last sync attempt."
                },
                "state": {
                  "type": "object",
                  "properties": {
                    "configuring": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "configuring": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Configuring indicates resource configuration is underway."
                            },
                            "syncing": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "StartedAt is UTC time at which this phase started."
                                }
                              },
                              "description": "Syncing indicates resource configuration is syncing."
                            }
                          },
                          "description": "Phase is the ResourceStateConfiguring substate."
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Configuring state."
                    },
                    "createError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Contains details about CreateError state."
                    },
                    "creating": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "creating": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Creating indicates resource creation is underway."
                            },
                            "customizing": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Customizing indicates resource customization is underway."
                            },
                            "postCreating": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "description": "StartedAt is UTC time at which this phase started."
                                }
                              },
                              "description": "PostCreating indicates resource post create activities are underway."
                            },
                            "poweringUp": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "PoweringUp indicates resource power up is underway."
                            },
                            "syncing": {
                              "type": "object",
                              "properties": {
                                "startedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "description": "Syncing indicates resource is syncing."
                            }
                          },
                          "description": "Phase is the ResourceStateCreating substate."
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Creating state."
                    },
                    "deleteError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Contains details about DeleteError state."
                    },
                    "deletePreflight": {
                      "type": "object",
                      "properties": {
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about DeletePreflight state."
                    },
                    "deleting": {
                      "type": "object",
                      "properties": {
                        "phase": {
                          "type": "object",
                          "properties": {
                            "deleting": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "Deleting indicates current resource configuration is deleting."
                            },
                            "poweringOff": {
                              "type": "object",
                              "properties": {
                                "waitingOn": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string"
                                    },
                                    "errorMessage": {
                                      "type": "string"
                                    },
                                    "isSuccess": {
                                      "type": "boolean",
                                      "description": "Both the attribute below ae used for reporting error, if any This can be more elaborate and made into a seperate structure"
                                    },
                                    "progress": {
                                      "type": "integer",
                                      "format": "int32"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "taskRef": {
                                      "type": "string"
                                    },
                                    "taskType": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "TaskInfo describes the VMMServer task info."
                                }
                              },
                              "description": "PoweringOff indicates resource power off is underway."
                            },
                            "retry": {
                              "type": "object",
                              "properties": {
                                "nextRetryAt": {
                                  "type": "string",
                                  "format": "date-time"
                                }
                              },
                              "description": "Retry indicates retry the delete operation."
                            }
                          },
                          "description": "Phase is the ResourceStateDeleting substate."
                        },
                        "retryAttempt": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Deleting state."
                    },
                    "ok": {
                      "type": "object",
                      "properties": {
                        "nextSyncAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "NextSyncAt is UTC time at or after which the next sync should happen."
                        }
                      },
                      "description": "Contains details about OK state."
                    },
                    "syncError": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "Message contains information about error that has occurred."
                        },
                        "reason": {
                          "type": "string",
                          "description": "Reason is a camel case string value indicating reason for current error state.",
                          "enum": [
                            "VMMServerNotReachable",
                            "ResourceNotFound",
                            "DatacenterNotFound",
                            "VMMServerNotFound",
                            "ResourceDeletedOutOfBand",
                            "CreateFailed",
                            "ConfigureFailed",
                            "SyncFailed",
                            "DeleteFailed"
                          ]
                        }
                      },
                      "description": "Contains details about SyncError state."
                    },
                    "syncing": {
                      "type": "object",
                      "properties": {
                        "startedAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "StartedAt is UTC time at which this state started."
                        }
                      },
                      "description": "Contains details about Syncing state."
                    }
                  },
                  "description": "ResourceState defines various states for a resource. Only one of the fields below is set."
                }
              },
              "description": "ResourceStatus defines appropriate status fields for a resource."
            }
          },
          "description": "VirtualNetworkStatus defines the observed state of VirtualNetwork"
        },
        "provisioningState": {
          "type": "string"
        }
      }
    },
    "VirtualNetworks": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualNetworksProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "location": {
          "type": "string",
          "description": "The resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "required": [
        "location"
      ],
      "description": "The VirtualNetworks resource definition."
    },
    "VirtualNetworksListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualNetworks"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
	"VirtualMachinesProperties": {
      "properties": {
        "cloudRef": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of resource that is being referred."
            },
            "namespace": {
              "type": "string",
              "description": "Namespace of resource that is being referred."
            }
          },
          "description": "CloudRef is the resource reference to the SCVMM cloud in which the virtual machine is created/located."
        },
        "config": {
          "type": "object",
          "properties": {
            "cpuCount": {
              "type": "integer",
              "format": "int64",
              "description": "Defaults to the analogue property value in the template from which this machine is cloned."
            },
            "devices": {
              "type": "object",
              "properties": {
                "networkAdapters": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ipv4AddressType": {
                        "type": "string"
                      },
                      "ipv6AddressType": {
                        "type": "string"
                      },
                      "macAddressType": {
                        "type": "string"
                      },
                      "networkRef": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of resource that is being referred."
                          },
                          "namespace": {
                            "type": "string",
                            "description": "Namespace of resource that is being referred."
                          }
                        },
                        "description": "NetworkRef is the resource reference to the vSphere network to which the device will be connected."
                      },
                      "vmNetworkID": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "networkRef"
                    ],
                    "description": "NetworkDeviceSpec defines the network configuration for a virtual machine's network device."
                  },
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "ipv4AddressType": {
                          "type": "string"
                        },
                        "ipv6AddressType": {
                          "type": "string"
                        },
                        "macAddressType": {
                          "type": "string"
                        },
                        "networkRef": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of resource that is being referred."
                            },
                            "namespace": {
                              "type": "string",
                              "description": "Namespace of resource that is being referred."
                            }
                          },
                          "description": "NetworkRef is the resource reference to the vSphere network to which the device will be connected."
                        },
                        "vmNetworkID": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "networkRef"
                      ],
                      "description": "NetworkDeviceSpec defines the network configuration for a virtual machine's network device."
                    }
                  },
                  "description": "Devices is the list of network devices used by the virtual machine."
                }
              },
              "description": "Devices are virtual network devices"
            },
            "dynamicMemoryEnabled": {
              "type": "boolean",
              "description": "Defaults to the analogue property value in the template from which this machine is cloned.",
              "enum": [
                "true",
                "false"
              ]
            },
            "dynamicMemoryMaxMB": {
              "type": "integer",
              "format": "int64",
              "description": "Defaults to the analogue property value in the template from which this machine is cloned."
            },
            "dynamicMemoryMinMB": {
              "type": "integer",
              "format": "int64",
              "description": "Defaults to the analogue property value in the template from which this machine is cloned."
            },
            "generation": {
              "type": "integer",
              "format": "int64",
              "description": "Defaults to the analogue property value in the template from which this machine is cloned."
            },
            "isHighlyAvailable": {
              "type": "boolean",
              "description": "Defaults to the analogue property value in the template from which this machine is cloned.",
              "enum": [
                "true",
                "false"
              ]
            },
            "memoryMB": {
              "type": "integer",
              "format": "int64",
              "description": "MemoryMB is the size of a virtual machine's memory, in MB. Defaults to the analogue property value in the template from which this machine is cloned."
            },
            "operatingSystem": {
              "type": "string",
              "description": "Defaults to the analogue property value in the template from which this machine is cloned."
            },
            "osProfile": {
              "type": "object",
              "properties": {
                "password": {
                  "type": "string"
                },
                "username": {
                  "type": "string"
                }
              },
              "description": "Contains the username and password for local admin"
            }
          },
          "description": "Config is the virtual machine configuration applied on this VM."
        },
        "templateRef": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of resource that is being referred."
            },
            "namespace": {
              "type": "string",
              "description": "Namespace of resource that is being referred."
            }
          },
          "description": "TemplateRef is the resource reference to the template used to clone new machines."
        },
        "uID": {
          "type": "string",
          "description": "ID used to uniquily identify the virtual network.",
          "minLength": 1
        },
        "vmmServerRef": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "description": "Name of resource that is being referred."
            },
            "namespace": {
              "type": "string",
              "description": "Namespace of resource that is being referred."
            }
          },
          "description": "VMMServerRef is the resource reference to the SCVMM server on which the virtual machine is created/located."
        },
        "status": {
          "type": "object",
          "properties": {
            "config": {
              "type": "object",
              "properties": {
                "cpuCount": {
                  "type": "integer",
                  "format": "int64"
                },
                "devices": {
                  "type": "object",
                  "properties": {
                    "disks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "createDiffDisk": {
                            "type": "boolean"
                          },
                          "diskID": {
                            "type": "string",
                            "description": "DiskID is the ID of the virtual disk."
                          },
                          "diskSizeGB": {
                            "type": "integer",
                            "format": "int64",
                            "description": "DiskSizeGB is the capacity of the virtual disk in GB."
                          },
                          "maxDiskSizeGB": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "virtualDiskDrivesVHDType": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "volumeType": {
                            "type": "integer",
                            "format": "int64",
                            "description": "DeviceKey is the device key value of the virtual disk."
                          }
                        },
                        "description": "VirtualDiskStatus contains informative data of a virtual disk."
                      },
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "createDiffDisk": {
                              "type": "boolean"
                            },
                            "diskID": {
                              "type": "string",
                              "description": "DiskID is the ID of the virtual disk."
                            },
                            "diskSizeGB": {
                              "type": "integer",
                              "format": "int64",
                              "description": "DiskSizeGB is the capacity of the virtual disk in GB."
                            },
                            "maxDiskSizeGB": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "virtualDiskDrivesVHDType": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "volumeType": {
                              "type": "integer",
                              "format": "int64",
                              "description": "DeviceKey is the device key value of the virtual disk."
                            }
                          },
                          "description": "VirtualDiskStatus contains informative data of a virtual disk."
                        }
                      },
                      "description": "Disks is a list consisting of information about virtual disks for the virtual machine template."
                    },
                    "networkAdapters": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "ipv4AddressType": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "ipv6AddressType": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "macAddressType": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "networkName": {
                            "type": "string",
                            "description": "NetworkName is the name of the virtual network for this nic."
                          },
                          "networkUID": {
                            "type": "string",
                            "description": "NetworkUID is the UID of the virtual network for this nic."
                          },
                          "vmNetworkID": {
                            "type": "string"
                          }
                        },
                        "description": "NetworkDeviceStatus provides information about one of a VM's network devices."
                      },
                      "properties": {
                        "items": {
                          "type": "object",
                          "properties": {
                            "ipv4AddressType": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "ipv6AddressType": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "macAddressType": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "networkName": {
                              "type": "string",
[...]
