{
  "swagger": "2.0",
  "info": {
    "title": "WorkloadBluilder Client",
    "description": "Workload builder client provides access to workloads, versions, instances and it's artifact status operations.",
    "version": "2019-12-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2"
    }
  },
  "paths": {
    "/providers/Microsoft.WorkloadBuilder/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all the available API operations for Workload builder.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationPageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.WorkloadBuilder/workloads": {
      "get": {
        "tags": [
          "Workloads"
        ],
        "description": "Lists workload resources in a subscription.",
        "operationId": "Workloads_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkloadResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/Workloads": {
      "get": {
        "tags": [
          "Workloads"
        ],
        "description": "Lists workload resources in a resource group.",
        "operationId": "Workloads_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of workload resources retreived",
            "schema": {
              "$ref": "#/definitions/WorkloadResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/Workloads/{workloadName}": {
      "get": {
        "tags": [
          "Workloads"
        ],
        "description": "Get a workload resource.",
        "operationId": "Workloads_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- workload resource retreived",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Workloads"
        ],
        "description": "Create a workload resource.",
        "operationId": "Workloads_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Workload resource data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated -- Workload resource updated",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "201": {
            "description": "Created -- Workload resource created",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Workloads"
        ],
        "description": "Update a workload resource.",
        "operationId": "Workloads_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Workload resource update data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadPatchRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- workload resource saved",
            "schema": {
              "$ref": "#/definitions/WorkloadResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Workloads"
        ],
        "description": "Delete a workload resource.",
        "operationId": "Workloads_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workloads": {
            "$ref": "./examples/Workloads_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Instances": {
      "get": {
        "tags": [
          "Instances"
        ],
        "description": "Lists the instance resources of a workload.",
        "operationId": "Instances_ListByWorkload",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok -- retrieved list of instance resources of a workload.",
            "schema": {
              "$ref": "#/definitions/InstanceResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_ListByWorkload.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Instances/{instanceName}": {
      "get": {
        "tags": [
          "Instances"
        ],
        "description": "Gets an instance resource.",
        "operationId": "Instances_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/instanceName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok -- retrieved instance resource.",
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Instances"
        ],
        "description": "Creates instance resource.",
        "operationId": "Instances_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/instanceName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Instance definition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated -- instance resource updated.",
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          },
          "201": {
            "description": "Created -- instance resource created.",
            "schema": {
              "$ref": "#/definitions/InstanceResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Instances"
        ],
        "description": "Deletes instance resource.",
        "operationId": "Instances_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/instanceName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Instances": {
            "$ref": "./examples/Instances_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Versions": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "List version resources of a workload.",
        "operationId": "Versions_ListByWorkload",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of version resources retrieved",
            "schema": {
              "$ref": "#/definitions/VersionResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_ListByWorkload.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.WorkloadBuilder/workloads/{workloadName}/Versions/{versionName}": {
      "get": {
        "tags": [
          "Versions"
        ],
        "description": "Get a version resource.",
        "operationId": "Versions_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/versionName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- version resource retrieved",
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Versions"
        ],
        "description": "Create a version resource.",
        "operationId": "Versions_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/versionName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Version data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated -- version resource updated",
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          },
          "201": {
            "description": "Created -- version resource created",
            "schema": {
              "$ref": "#/definitions/VersionResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Versions"
        ],
        "description": "Delete a version resource.",
        "operationId": "Versions_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/workloadName"
          },
          {
            "$ref": "#/parameters/versionName"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "204": {
            "description": "No content."
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Versions": {
            "$ref": "./examples/Versions_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperationDisplayInfo": {
      "description": "Operation display details.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource Provider: Microsoft.WorkloadBuilder",
          "type": "string"
        },
        "resource": {
          "description": "Workload builder resource type",
          "type": "string"
        },
        "operation": {
          "description": "Operation on the resource type.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "Workload builder operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Workload builder API operation.",
          "type": "string"
        },
        "display": {
          "description": "Operation display infomartion",
          "$ref": "#/definitions/OperationDisplayInfo"
        }
      }
    },
    "OperationPageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkloadType": {
      "description": "Type of workloads unserstood by workload builder.",
      "enum": [
        "unknown",
        "jboss",
        "lamp",
        "custom"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "WorkloadType",
        "modelAsString": true
      }
    },
    "ResourceState": {
      "description": "Workload builder resources states.",
      "enum": [
        "notSpecified",
        "accepted",
        "succeeded",
        "failed",
        "creating",
        "created",
        "cancelling",
        "canceled",
        "deleting",
        "deleted",
        "provisioningArmResources",
        "installingApplication",
        "configuringApplication",
        "migratingApplicationData",
        "runningValidations",
        "creatingArtifacts",
        "deletingArtifacts"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceState",
        "modelAsString": true
      }
    },
    "WorkloadProperties": {
      "description": "Workload resource properties.",
      "required": [
        "workloadType"
      ],
      "type": "object",
      "properties": {
        "workloadType": {
          "description": "Workload type",
          "x-ms-mutability": ["create","read"],
          "$ref": "#/definitions/WorkloadType"
        },
        "description": {
          "description": "Descripton of the resource.",
          "maxLength": 500,
          "type": "string"
        },
        "creationTimeUtc": {
          "format": "date-time",
          "description": "Resource creation time in Utc.",
          "type": "string"
        },
        "lastModifiedTimeUtc": {
          "format": "date-time",
          "description": "Last modified time of the resource in Utc.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of the resource.",
          "maxLength": 64,
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Resource state",
          "$ref": "#/definitions/ResourceState"
        }
      }
    },
    "WorkloadResource": {
      "description": "Workload resource data.",
      "required": [
        "location"
      ],
      "type": "object",
      "properties": {
        "location": {
          "description": "Resource location.",
          "maxLength": 256,
          "type": "string",
          "x-ms-mutability":["create","read"]
        },
        "properties": {
          "description": "Workload resource properties",
          "$ref": "#/definitions/WorkloadProperties",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "Resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "maxLength": 260,
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "WorkloadResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkloadResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SecureValueType": {
      "description": "Secure value type to store key-vault details.",
      "type": "object",
      "properties": {
        "keyVaultId": {
          "description": "Key vault Id.",
          "type": "string"
        },
        "secretName": {
          "description": "Secret name.",
          "type": "string"
        }
      }
    },
    "ParameterValue": {
      "description": "Value type to store parameter values.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Parameter value.",
          "type": "string"
        },
        "secureValue": {
          "description": "Secure value",
          "$ref": "#/definitions/SecureValueType"
        }
      }
    },
    "ArtifactDeploymentState": {
      "description": "Different states of the artifact deployment.",
      "enum": [
        "notStarted",
        "inProgress",
        "succeeded",
        "failed",
        "canceled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ArtifactDeploymentState",
        "modelAsString": true
      }
    },
    "StateTransitionRecord": {
      "description": "Artifact deployment state transition record.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Artifact deployment state",
          "$ref": "#/definitions/ArtifactDeploymentState"
        },
        "startTimeUtc": {
          "format": "date-time",
          "description": "Start time of the current state.",
          "type": "string",
          "readOnly": true
        },
        "duration": {
          "format": "int64",
          "description": "Duration of current state in seconds.",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        }
      }
    },
    "WorkloadPatchRequestBody": {
      "description": "Workload resource patch request body.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ArtifactDeploymentDetails": {
      "description": "Artifact deployment details.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Artifact deployment state",
          "$ref": "#/definitions/ArtifactDeploymentState"
        },
        "startTimeUtc": {
          "format": "date-time",
          "description": "Artifact deployment start time.",
          "type": "string",
          "readOnly": true
        },
        "endTimeUtc": {
          "format": "date-time",
          "description": "Artifact deployment end time.",
          "type": "string",
          "readOnly": true
        },
        "stateTransitionHistory": {
          "description": "Artifact deployment state transition history.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StateTransitionRecord"
          },
          "readOnly": true
        },
        "deploymentLogUrl": {
          "description": "Artifact deployment log url.",
          "type": "string",
          "readOnly": true
        },
        "errorDetails": {
          "description": "Error details",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ArtifactStatus": {
      "description": "Artifact deployment status.",
      "type": "object",
      "properties": {
        "currentStatus": {
          "description": "Artifact deployment details",
          "$ref": "#/definitions/ArtifactDeploymentDetails"
        },
        "statusHistory": {
          "description": "Artifact deployment history.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArtifactDeploymentDetails"
          },
          "readOnly": true
        }
      }
    },
    "InstanceProperties": {
      "description": "Instance resource properties.",
      "required": [
        "versionId"
      ],
      "type": "object",
      "properties": {
        "versionId": {
          "description": "Workload version Id for this instance.",
          "type": "string",
          "x-ms-mutability": ["create","read"]
        },
        "parameters": {
          "description": "Parameters for individual artifacts of the version.",
          "type": "object",
          "additionalProperties": {
            "description": "Parameter collection of an artifact.",
            "type": "object",
            "additionalProperties": {
              "description": "Parameter value",
              "$ref": "#/definitions/ParameterValue"
            }
          }
        },
        "artifactsStatus": {
          "description": "Artifacts deployment status.",
          "type": "object",
          "additionalProperties": {
            "description": "Artifact status",
            "$ref": "#/definitions/ArtifactStatus"
          },
          "readOnly": true
        },
        "description": {
          "description": "Descripton of the resource.",
          "maxLength": 500,
          "type": "string"
        },
        "creationTimeUtc": {
          "format": "date-time",
          "description": "Resource creation time in Utc.",
          "type": "string"
        },
        "lastModifiedTimeUtc": {
          "format": "date-time",
          "description": "Last modified time of the resource in Utc.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of the resource.",
          "maxLength": 64,
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Resource state",
          "$ref": "#/definitions/ResourceState"
        }
      }
    },
    "InstanceResource": {
      "description": "Instance resource definition.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Instance resource propeties",
          "$ref": "#/definitions/InstanceProperties",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "Resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "maxLength": 260,
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Resource location.",
          "maxLength": 256,
          "type": "string",
          "x-ms-mutability":["create","read"]
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "InstanceResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstanceResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ContentType": {
      "description": "Type of the content.",
      "enum": [
        "yaml",
        "url",
        "json"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ContentType",
        "modelAsString": true
      }
    },
    "ArtifactType": {
      "description": "Type of supported workload artifact types.",
      "enum": [
        "ansiblePlaybook",
        "armTemplate",
        "blueprint",
        "bashShell",
        "powershell"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ArtifactType",
        "modelAsString": true
      }
    },
    "ArtifactPurpose": {
      "description": "Purpose of the",
      "enum": [
        "infraCreation",
        "appInstallation",
        "appConfiguration",
        "appMigration",
        "appValidation"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ArtifactPurpose",
        "modelAsString": true
      }
    },
    "Artifact": {
      "description": "Common properties of the workload artifact.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "artifactType": {
          "description": "Artifact type",
          "$ref": "#/definitions/ArtifactType"
        },
        "purpose": {
          "description": "Artifact purpose",
          "$ref": "#/definitions/ArtifactPurpose"
        },
        "executionOrder": {
          "format": "int32",
          "description": "Artifact execution order.",
          "type": "integer",
          "readOnly": true
        },
        "blueprintArmId": {
          "description": "Blueprint resource Arm Id.",
          "type": "string",
          "readOnly": true
        },
        "artifactBlobUri": {
          "description": "Artifact blob uri where the artifact definition is stored.",
          "type": "string",
          "readOnly": true
        },
        "parameters": {
          "description": "Parameters for the artifact definition.",
          "type": "object",
          "additionalProperties": {
            "description": "Parameter value",
            "$ref": "#/definitions/ParameterValue"
          }
        }
      }
    },
    "VersionProperties": {
      "description": "Workload version resource properties.",
      "required": [
        "contentType"
      ],
      "type": "object",
      "properties": {
        "specContent": {
          "description": "Version spec url or content.",
          "type": "string",
          "x-ms-mutability": ["create", "read"]
        },
        "specSummary":{
          "description": "Estimated summary of the given spec infra",
              "type": "string",
              "readOnly": true
        },
        "contentType": {
          "description": "Content type",
          "x-ms-mutability": ["create", "read"],
          "$ref": "#/definitions/ContentType"
        },
        "keyVaultUri": {
          "description": "User key vault url",
          "type": "string",
          "x-ms-mutability": ["create", "read"]
        },
        "appInsightsInstrumentationKey": {
          "description": "Application insights instrumentation key",
          "type": "string",
          "x-ms-mutability": ["create", "read"]
        },
        "artifacts": {
          "description": "Artifacts definitions generated from version spec.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artifact"
          },
          "readOnly": true
        },
        "artifactsParameters": {
          "description": "Artifact definition parameters.",
          "type": "object",
          "additionalProperties": {
            "description": "Parameter collection of an artifact.",
            "type": "object",
            "additionalProperties": {
              "$ref": "#/definitions/ParameterValue"
            }
          }
        },
        "description": {
          "description": "Descripton of the resource.",
          "maxLength": 500,
          "type": "string"
        },
        "creationTimeUtc": {
          "format": "date-time",
          "description": "Resource creation time in Utc.",
          "type": "string"
        },
        "lastModifiedTimeUtc": {
          "format": "date-time",
          "description": "Last modified time of the resource in Utc.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of the resource.",
          "maxLength": 64,
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Resource state",
          "$ref": "#/definitions/ResourceState"
        }
      }
    },
    "VersionResource": {
      "description": "Version resource data.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Version resource properties",
          "$ref": "#/definitions/VersionProperties",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "Resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "maxLength": 260,
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Resource location.",
          "maxLength": 256,
          "type": "string",
          "x-ms-mutability":["create","read"]
        },
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "VersionResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersionResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Api error response on failure.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Error details",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "in": "path",
      "name": "subscriptionId",
      "description": "Subscription Id to which this resource belong to.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "resourceGroupName": {
      "in": "path",
      "name": "resourceGroupName",
      "description": "Resource group name of the resource.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "workloadName": {
      "in": "path",
      "name": "workloadName",
      "description": "Workload name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "versionName": {
      "in": "path",
      "name": "versionName",
      "description": "Version name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "instanceName": {
      "in": "path",
      "name": "instanceName",
      "description": "Instance name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    },
    "api-version": {
      "in": "query",
      "name": "api-version",
      "description": "Client api version.",
      "required": true,
      "x-ms-parameter-location": "client",
      "type": "string"
    }
  }
}