{
    "swagger": "2.0",
    "info": {
      "title": "Cassandra",
      "description": "The Microsoft.Cassandra Rest API spec.",
      "version": "2020-01-01-preview",
      "x-ms-code-generation-settings": {
        "name": "CassandraClient"
      }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cassandra/cassandraDataCenters/{CassandraDataCenterName}": {
        "get": {
          "operationId": "CassandraDataCenter_Retrieve",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/CassandraDataCenterNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Retrieves the CassandraDataCenter resource.",
              "schema": {
                "$ref": "#/definitions/CassandraDataCenter"
              }
            }
          }
        },
        "put": {
          "operationId": "CassandraDataCenter_CreateOrUpdate",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/CassandraDataCenterNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "name": "CassandraDataCenter",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/CassandraDataCenter"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Updates the CassandraDataCenter resource.",
              "schema": {
                "$ref": "#/definitions/CassandraDataCenter"
              }
            },
            "201": {
              "description": "Creates the CassandraDataCenter resource.",
              "schema": {
                "$ref": "#/definitions/CassandraDataCenter"
              }
            }
          }
        },
        "delete": {
          "operationId": "CassandraDataCenter_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/CassandraDataCenterNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Deletes the CassandraDataCenter resource.",
              "schema": {}
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cassandra/cassandraDataCenters": {
        "get": {
          "operationId": "CassandraDataCenter_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all CassandraDataCenter under the resouce group.",
              "schema": {
                "$ref": "#/definitions/CassandraDataCenterListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Cassandra/cassandraDataCenters": {
        "get": {
          "operationId": "CassandraDataCenter_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Lists all CassandraDataCenter under the subscription.",
              "schema": {
                "$ref": "#/definitions/CassandraDataCenterListResult"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Microsoft.Cassandra/operations": {
        "get": {
          "operationId": "Operations_List",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "Describe the result of a successful operation.",
              "schema": {
                "$ref": "#/definitions/ResourceProviderOperationList"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      }
    },
    "definitions": {
      "CassandraDataCenterProperties": {
        "properties": {
            "cassandraImage": {
                "type": "string"
              },
              "dummyVolume": {
                "properties": {
                  "medium": {
                    "type": "string"
                  },
                  "sizeLimit": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "fsGroup": {
                "format": "int64",
                "type": "integer"
              },
              "imagePullPolicy": {
                "type": "string"
              },
              "nodes": {
                "format": "int32",
                "type": "integer"
              },
              "resources": {
                "properties": {
                  "limits": {
                    "properties": {
                      "memory": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "requests": {
                    "properties": {
                      "memory": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              },
              "serviceAccountName": {
                "type": "string"
              },
              "sidecarImage": {
                "type": "string"
              }
        }
      },
      "CassandraDataCenter": {
        "type": "object",
        "properties": {
          "properties": {
            "$ref": "#/definitions/CassandraDataCenterProperties"
          },
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Name"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Type"
          },
          "location": {
            "type": "string"
          },
          "extendedLocation": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The extended location type."
              },
              "name": {
                "type": "string",
                "description": "The extended location name."
              }
            }
          }
        },
        "required": [
          "location"
        ],
        "description": "The CassandraDataCenter resource definition."
      },
      "CassandraDataCenterListResult": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/CassandraDataCenter"
            }
          },
          "nextLink": {
            "type": "string"
          }
        }
      },
      "ResourceProviderOperationList": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ResourceProviderOperation"
            }
          },
          "nextLink": {
            "type": "string"
          }
        },
        "description": "Results of the request to list operations."
      },
      "ResourceProviderOperation": {
        "type": "object",
        "properties": {
          "isDataAction": {
            "type": "string",
            "description": "Indicates whether the operation applies to data-plane."
          },
          "name": {
            "type": "string",
            "description": "Operation name, in format of {provider}/{resource}/{operation}"
          },
          "display": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "description": "The resource provider."
              },
              "resource": {
                "type": "string",
                "description": "Resource on which the operation is performed."
              },
              "operation": {
                "type": "string",
                "description": "Type of operation: get, read, delete, etc."
              },
              "description": {
                "type": "string",
                "description": "Description of this operation."
              }
            },
            "description": "Display metadata associated with the operation."
          }
        },
        "description": "Results of the request to list operations."
      }
    },
    "parameters": {
      "CassandraDataCenterNameParameter": {
        "name": "CassandraDataCenterName",
        "in": "path",
        "required": true,
        "type": "string",
        "maxLength": 64,
        "minLength": 3
      },
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "The API version to be used with the HTTP request."
      }
    }
  }