{
  "swagger": "2.0",
  "info": {
    "title": "Cassandra",
    "description": "The Microsoft.Cassandra Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "CassandraClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cassandra/cassandraDataCenters/{cassandraDataCentersName}/testAction": {
      "post": {
        "operationId": "cassandraDataCenters_Action",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cassandraDataCentersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "cassandraDataCenters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cassandraDataCentersProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the cassandraDataCenters resource.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCentersProperties"
            }
          },
          "202": {
            "description": "Creates the cassandraDataCenters resource.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCentersProperties"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cassandra/cassandraDataCenters/{cassandraDataCentersName}": {
      "get": {
        "operationId": "cassandraDataCenters_Retrieve",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cassandraDataCentersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the cassandraDataCenters resource.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCenters"
            }
          }
        }
      },
      "put": {
        "operationId": "cassandraDataCenters_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cassandraDataCentersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "cassandraDataCenters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cassandraDataCenters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the cassandraDataCenters resource.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCenters"
            }
          },
          "201": {
            "description": "Creates the cassandraDataCenters resource.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCenters"
            }
          }
        }
      },
      "delete": {
        "operationId": "cassandraDataCenters_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cassandraDataCentersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the cassandraDataCenters resource."
          }
        }
      },
      "patch": {
        "operationId": "cassandraDataCenters_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cassandraDataCentersNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "cassandraDataCenters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cassandraDataCentersPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updates the cassandraDataCenters resource.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCenters"
            }
          },
          "201": {
            "description": "Updates the cassandraDataCenters resource.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCenters"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cassandra/cassandraDataCenters": {
      "get": {
        "operationId": "cassandraDataCenters_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all cassandraDataCenters under the resouce group.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCentersListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cassandra/cassandraDataCenters": {
      "get": {
        "operationId": "cassandraDataCenters_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all cassandraDataCenters under the subscription.",
            "schema": {
              "$ref": "#/definitions/cassandraDataCentersListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Cassandra/operations": {
      "get": {
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "cassandraDataCentersProperties": {
      "properties": {
        "cluster": {
          "type": "string"
        },
        "datacenter": {
          "type": "string"
        },
        "cassandraAuth": {
          "type": "object",
          "properties": {
            "authenticator": {
              "type": "string"
            },
            "authorizer": {
              "type": "string"
            },
            "roleManager": {
              "type": "string"
            }
          },
          "required": [
            "authenticator",
            "authorizer",
            "roleManager"
          ]
        },
        "cassandraEnv": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the environment variable. Must be a C_IDENTIFIER."
              },
              "value": {
                "type": "string",
                "description": "Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any service environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\"."
              },
              "valueFrom": {
                "type": "object",
                "properties": {
                  "configMapKeyRef": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "The key to select."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?"
                      },
                      "optional": {
                        "type": "boolean",
                        "description": "Specify whether the ConfigMap or its key must be defined"
                      }
                    },
                    "required": [
                      "key"
                    ],
                    "description": "Selects a key of a ConfigMap."
                  },
                  "fieldRef": {
                    "type": "object",
                    "properties": {
                      "apiVersion": {
                        "type": "string",
                        "description": "Version of the schema the FieldPath is written in terms of, defaults to \"v1\"."
                      },
                      "fieldPath": {
                        "type": "string",
                        "description": "Path of the field to select in the specified API version."
                      }
                    },
                    "required": [
                      "fieldPath"
                    ],
                    "description": "Selects a field of the pod: supports metadata.name, metadata.namespace, metadata.labels, metadata.annotations, spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP."
                  },
                  "resourceFieldRef": {
                    "type": "object",
                    "properties": {
                      "containerName": {
                        "type": "string",
                        "description": "Container name: required for volumes, optional for env vars"
                      },
                      "divisor": {
                        "type": "string",
                        "description": "Specifies the output format of the exposed resources, defaults to \"1\""
                      },
                      "resource": {
                        "type": "string",
                        "description": "Required: resource to select"
                      }
                    },
                    "required": [
                      "resource"
                    ],
                    "description": "Selects a resource of the container: only resources limits and requests (limits.cpu, limits.memory, limits.ephemeral-storage, requests.cpu, requests.memory and requests.ephemeral-storage) are currently supported."
                  },
                  "secretKeyRef": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "The key of the secret to select from.  Must be a valid secret key."
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?"
                      },
                      "optional": {
                        "type": "boolean",
                        "description": "Specify whether the Secret or its key must be defined"
                      }
                    },
                    "required": [
                      "key"
                    ],
                    "description": "Selects a key of a secret in the pod's namespace"
                  }
                },
                "description": "Source for the environment variable's value. Cannot be used if value is not empty."
              }
            },
            "required": [
              "name"
            ],
            "description": "EnvVar represents an environment variable present in a Container."
          },
          "properties": {
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the environment variable. Must be a C_IDENTIFIER."
                },
                "value": {
                  "type": "string",
                  "description": "Variable references $(VAR_NAME) are expanded using the previous defined environment variables in the container and any service environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not. Defaults to \"\"."
                },
                "valueFrom": {
                  "type": "object",
                  "properties": {
                    "configMapKeyRef": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The key to select."
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?"
                        },
                        "optional": {
                          "type": "boolean",
                          "description": "Specify whether the ConfigMap or its key must be defined"
                        }
                      },
                      "required": [
                        "key"
                      ],
                      "description": "Selects a key of a ConfigMap."
                    },
                    "fieldRef": {
                      "type": "object",
                      "properties": {
                        "apiVersion": {
                          "type": "string",
                          "description": "Version of the schema the FieldPath is written in terms of, defaults to \"v1\"."
                        },
                        "fieldPath": {
                          "type": "string",
                          "description": "Path of the field to select in the specified API version."
                        }
                      },
                      "required": [
                        "fieldPath"
                      ],
                      "description": "Selects a field of the pod: supports metadata.name, metadata.namespace, metadata.labels, metadata.annotations, spec.nodeName, spec.serviceAccountName, status.hostIP, status.podIP."
                    },
                    "resourceFieldRef": {
                      "type": "object",
                      "properties": {
                        "containerName": {
                          "type": "string",
                          "description": "Container name: required for volumes, optional for env vars"
                        },
                        "divisor": {
                          "type": "string",
                          "description": "Specifies the output format of the exposed resources, defaults to \"1\""
                        },
                        "resource": {
                          "type": "string",
                          "description": "Required: resource to select"
                        }
                      },
                      "required": [
                        "resource"
                      ],
                      "description": "Selects a resource of the container: only resources limits and requests (limits.cpu, limits.memory, limits.ephemeral-storage, requests.cpu, requests.memory and requests.ephemeral-storage) are currently supported."
                    },
                    "secretKeyRef": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "The key of the secret to select from.  Must be a valid secret key."
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?"
                        },
                        "optional": {
                          "type": "boolean",
                          "description": "Specify whether the Secret or its key must be defined"
                        }
                      },
                      "required": [
                        "key"
                      ],
                      "description": "Selects a key of a secret in the pod's namespace"
                    }
                  },
                  "description": "Source for the environment variable's value. Cannot be used if value is not empty."
                }
              },
              "required": [
                "name"
              ],
              "description": "EnvVar represents an environment variable present in a Container."
            }
          }
        },
        "cassandraImage": {
          "type": "string"
        },
        "dataVolumeClaimSpec": {
          "type": "object",
          "properties": {
            "accessModes": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "properties": {
                "items": {
                  "type": "string"
                }
              },
              "description": "AccessModes contains the desired access modes the volume should have. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#access-modes-1"
            },
            "dataSource": {
              "type": "object",
              "properties": {
                "apiGroup": {
                  "type": "string",
                  "description": "APIGroup is the group for the resource being referenced. If APIGroup is not specified, the specified Kind must be in the core API group. For any other third-party types, APIGroup is required."
                },
                "kind": {
                  "type": "string",
                  "description": "Kind is the type of resource being referenced"
                },
                "name": {
                  "type": "string",
                  "description": "Name is the name of resource being referenced"
                }
              },
              "required": [
                "kind",
                "name"
              ],
              "description": "This field requires the VolumeSnapshotDataSource alpha feature gate to be enabled and currently VolumeSnapshot is the only supported data source. If the provisioner can support VolumeSnapshot data source, it will create a new volume and data will be restored to the volume at the same time. If the provisioner does not support VolumeSnapshot data source, volume will not be created and the failure will be reported as an event. In the future, we plan to support more data source types and the behavior of the provisioner may change."
            },
            "resources": {
              "type": "object",
              "properties": {
                "limits": {
                  "type": "object",
                  "properties": {
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Limits describes the maximum amount of compute resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/"
                },
                "requests": {
                  "type": "object",
                  "properties": {
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "Requests describes the minimum amount of compute resources required. If Requests is omitted for a container, it defaults to Limits if that is explicitly specified, otherwise to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/"
                }
              },
              "description": "Resources represents the minimum resources the volume should have. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#resources"
            },
            "selector": {
              "type": "object",
              "properties": {
                "matchExpressions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "key": {
                        "type": "string",
                        "description": "key is the label key that the selector applies to."
                      },
                      "operator": {
                        "type": "string",
                        "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                      },
                      "values": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "properties": {
                          "items": {
                            "type": "string"
                          }
                        },
                        "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                      }
                    },
                    "required": [
                      "key",
                      "operator"
                    ],
                    "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                  },
                  "properties": {
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string",
                          "description": "key is the label key that the selector applies to."
                        },
                        "operator": {
                          "type": "string",
                          "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                        },
                        "values": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "properties": {
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                        }
                      },
                      "required": [
                        "key",
                        "operator"
                      ],
                      "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                    }
                  },
                  "description": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
                },
                "matchLabels": {
                  "type": "object",
                  "properties": {
                    "additionalProperties": {
                      "type": "string"
                    }
                  },
                  "additionalProperties": {
                    "type": "string"
                  },
                  "description": "matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is \"key\", the operator is \"In\", and the values array contains only \"value\". The requirements are ANDed."
                }
              },
              "description": "A label query over volumes to consider for binding."
            },
            "storageClassName": {
              "type": "string",
              "description": "Name of the StorageClass required by the claim. More info: https://kubernetes.io/docs/concepts/storage/persistent-volumes#class-1"
            },
            "volumeMode": {
              "type": "string",
              "description": "volumeMode defines what type of volume is required by the claim. Value of Filesystem is implied when not included in claim spec. This is a beta feature."
            },
            "volumeName": {
              "type": "string",
              "description": "VolumeName is the binding reference to the PersistentVolume backing this claim."
            }
          },
          "description": "PersistentVolumeClaimSpec describes the common attributes of storage devices and allows a Source for provider-specific attributes"
        },
        "deletePVCs": {
          "type": "boolean"
        },
        "dummyVolume": {
          "type": "object",
          "properties": {
            "medium": {
              "type": "string",
              "description": "What type of storage medium should back this directory. The default is \"\" which means to use the node's default medium. Must be an empty string (default) or Memory. More info: https://kubernetes.io/docs/concepts/storage/volumes#emptydir"
            },
            "sizeLimit": {
              "type": "string",
              "description": "Total amount of local storage required for this EmptyDir volume. The size limit is also applicable for memory medium. The maximum usage on memory medium EmptyDir would be the minimum value between the SizeLimit specified here and the sum of memory limits of all containers in a pod. The default is nil which means that the limit is undefined. More info: http://kubernetes.io/docs/user-guide/volumes#emptydir"
            }
          },
          "description": "Represents an empty directory for a pod. Empty directory volumes support ownership management and SELinux relabeling."
        },
        "fsGroup": {
          "type": "integer",
          "format": "int64"
        },
        "imagePullPolicy": {
          "type": "string",
          "description": "PullPolicy describes a policy for if/when to pull a container image"
        },
        "imagePullSecrets": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?"
              }
            },
            "description": "LocalObjectReference contains enough information to let you locate the referenced object inside the same namespace."
          },
          "properties": {
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names TODO: Add other useful fields. apiVersion, kind, uid?"
                }
              },
              "description": "LocalObjectReference contains enough information to let you locate the referenced object inside the same namespace."
            }
          }
        },
        "initImage": {
          "type": "string"
        },
        "nodes": {
          "type": "integer",
          "format": "int32"
        },
        "operatorAnnotations": {
          "type": "object",
          "properties": {
            "nodesService": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "podTemplate": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "prometheusService": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "seedNodesService": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "statefulSet": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        },
        "operatorLabels": {
          "type": "object",
          "properties": {
            "nodesService": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "podTemplate": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "prometheusService": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "seedNodesService": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "statefulSet": {
              "type": "object",
              "properties": {
                "additionalProperties": {
                  "type": "string"
                }
              },
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        },
        "optimizeKernelParams": {
          "type": "boolean"
        },
        "prometheusSupport": {
          "type": "boolean"
        },
        "racks": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "affinity": {
                "type": "object",
                "properties": {
                  "nodeAffinity": {
                    "type": "object",
                    "properties": {
                      "preferredDuringSchedulingIgnoredDuringExecution": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "preference": {
                              "type": "object",
                              "properties": {
                                "matchExpressions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "description": "The label key that the selector applies to."
                                      },
                                      "operator": {
                                        "type": "string",
                                        "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "operator"
                                    ],
                                    "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                  },
                                  "properties": {
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    }
                                  },
                                  "description": "A list of node selector requirements by node's labels."
                                },
                                "matchFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "description": "The label key that the selector applies to."
                                      },
                                      "operator": {
                                        "type": "string",
                                        "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "operator"
                                    ],
                                    "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                  },
                                  "properties": {
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    }
                                  },
                                  "description": "A list of node selector requirements by node's fields."
                                }
                              },
                              "description": "A node selector term, associated with the corresponding weight."
                            },
                            "weight": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Weight associated with matching the corresponding nodeSelectorTerm, in the range 1-100."
                            }
                          },
                          "required": [
                            "preference",
                            "weight"
                          ],
                          "description": "An empty preferred scheduling term matches all objects with implicit weight 0 (i.e. it's a no-op). A null preferred scheduling term matches no objects (i.e. is also a no-op)."
                        },
                        "properties": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "preference": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    },
                                    "properties": {
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "key": {
                                            "type": "string",
                                            "description": "The label key that the selector applies to."
                                          },
                                          "operator": {
                                            "type": "string",
                                            "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                          },
                                          "values": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                          }
                                        },
                                        "required": [
                                          "key",
                                          "operator"
                                        ],
                                        "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                      }
                                    },
                                    "description": "A list of node selector requirements by node's labels."
                                  },
                                  "matchFields": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    },
                                    "properties": {
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "key": {
                                            "type": "string",
                                            "description": "The label key that the selector applies to."
                                          },
                                          "operator": {
                                            "type": "string",
                                            "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                          },
                                          "values": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                          }
                                        },
                                        "required": [
                                          "key",
                                          "operator"
                                        ],
                                        "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                      }
                                    },
                                    "description": "A list of node selector requirements by node's fields."
                                  }
                                },
                                "description": "A node selector term, associated with the corresponding weight."
                              },
                              "weight": {
                                "type": "integer",
                                "format": "int32",
                                "description": "Weight associated with matching the corresponding nodeSelectorTerm, in the range 1-100."
                              }
                            },
                            "required": [
                              "preference",
                              "weight"
                            ],
                            "description": "An empty preferred scheduling term matches all objects with implicit weight 0 (i.e. it's a no-op). A null preferred scheduling term matches no objects (i.e. is also a no-op)."
                          }
                        },
                        "description": "The scheduler will prefer to schedule pods to nodes that satisfy the affinity expressions specified by this field, but it may choose a node that violates one or more of the expressions. The node that is most preferred is the one with the greatest sum of weights, i.e. for each node that meets all of the scheduling requirements (resource request, requiredDuringScheduling affinity expressions, etc.), compute a sum by iterating through the elements of this field and adding \"weight\" to the sum if the node matches the corresponding matchExpressions; the node(s) with the highest sum are the most preferred."
                      },
                      "requiredDuringSchedulingIgnoredDuringExecution": {
                        "type": "object",
                        "properties": {
                          "nodeSelectorTerms": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "matchExpressions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "description": "The label key that the selector applies to."
                                      },
                                      "operator": {
                                        "type": "string",
                                        "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "operator"
                                    ],
                                    "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                  },
                                  "properties": {
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    }
                                  },
                                  "description": "A list of node selector requirements by node's labels."
                                },
                                "matchFields": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "description": "The label key that the selector applies to."
                                      },
                                      "operator": {
                                        "type": "string",
                                        "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "operator"
                                    ],
                                    "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                  },
                                  "properties": {
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    }
                                  },
                                  "description": "A list of node selector requirements by node's fields."
                                }
                              },
                              "description": "A null or empty node selector term matches no objects. The requirements of them are ANDed. The TopologySelectorTerm type implements a subset of the NodeSelectorTerm."
                            },
                            "properties": {
                              "items": {
                                "type": "object",
                                "properties": {
                                  "matchExpressions": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    },
                                    "properties": {
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "key": {
                                            "type": "string",
                                            "description": "The label key that the selector applies to."
                                          },
                                          "operator": {
                                            "type": "string",
                                            "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                          },
                                          "values": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                          }
                                        },
                                        "required": [
                                          "key",
                                          "operator"
                                        ],
                                        "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                      }
                                    },
                                    "description": "A list of node selector requirements by node's labels."
                                  },
                                  "matchFields": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "The label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    },
                                    "properties": {
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "key": {
                                            "type": "string",
                                            "description": "The label key that the selector applies to."
                                          },
                                          "operator": {
                                            "type": "string",
                                            "description": "Represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists, DoesNotExist. Gt, and Lt."
                                          },
                                          "values": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "description": "An array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. If the operator is Gt or Lt, the values array must have a single element, which will be interpreted as an integer. This array is replaced during a strategic merge patch."
                                          }
                                        },
                                        "required": [
                                          "key",
                                          "operator"
                                        ],
                                        "description": "A node selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                      }
                                    },
                                    "description": "A list of node selector requirements by node's fields."
                                  }
                                },
                                "description": "A null or empty node selector term matches no objects. The requirements of them are ANDed. The TopologySelectorTerm type implements a subset of the NodeSelectorTerm."
                              }
                            },
                            "description": "Required. A list of node selector terms. The terms are ORed."
                          }
                        },
                        "required": [
                          "nodeSelectorTerms"
                        ],
                        "description": "If the affinity requirements specified by this field are not met at scheduling time, the pod will not be scheduled onto the node. If the affinity requirements specified by this field cease to be met at some point during pod execution (e.g. due to an update), the system may or may not try to eventually evict the pod from its node."
                      }
                    },
                    "description": "Describes node affinity scheduling rules for the pod."
                  },
                  "podAffinity": {
                    "type": "object",
                    "properties": {
                      "preferredDuringSchedulingIgnoredDuringExecution": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "podAffinityTerm": {
                              "type": "object",
                              "properties": {
                                "labelSelector": {
                                  "type": "object",
                                  "properties": {
                                    "matchExpressions": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "key": {
                                            "type": "string",
                                            "description": "key is the label key that the selector applies to."
                                          },
                                          "operator": {
                                            "type": "string",
                                            "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                                          },
                                          "values": {
                                            "type": "array",
                                            "items": {
                                              "type": "string"
                                            },
                                            "properties": {
                                              "items": {
                                                "type": "string"
                                              }
                                            },
                                            "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                                          }
                                        },
                                        "required": [
                                          "key",
                                          "operator"
                                        ],
                                        "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                      },
                                      "properties": {
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "key": {
                                              "type": "string",
                                              "description": "key is the label key that the selector applies to."
                                            },
                                            "operator": {
                                              "type": "string",
                                              "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                                            },
                                            "values": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "properties": {
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                                            }
                                          },
                                          "required": [
                                            "key",
                                            "operator"
                                          ],
                                          "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                        }
                                      },
                                      "description": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
                                    },
                                    "matchLabels": {
                                      "type": "object",
                                      "properties": {
                                        "additionalProperties": {
                                          "type": "string"
                                        }
                                      },
                                      "additionalProperties": {
                                        "type": "string"
                                      },
                                      "description": "matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is \"key\", the operator is \"In\", and the values array contains only \"value\". The requirements are ANDed."
                                    }
                                  },
                                  "description": "A label query over a set of resources, in this case pods."
                                },
                                "namespaces": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "properties": {
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "namespaces specifies which namespaces the labelSelector applies to (matches against); null or empty list means \"this pod's namespace\""
                                },
                                "topologyKey": {
                                  "type": "string",
                                  "description": "This pod should be co-located (affinity) or not co-located (anti-affinity) with the pods matching the labelSelector in the specified namespaces, where co-located is defined as running on a node whose value of the label with key topologyKey matches that of any node on which any of the selected pods is running. Empty topologyKey is not allowed."
                                }
                              },
                              "required": [
                                "topologyKey"
                              ],
                              "description": "Required. A pod affinity term, associated with the corresponding weight."
                            },
                            "weight": {
                              "type": "integer",
                              "format": "int32",
                              "description": "weight associated with matching the corresponding podAffinityTerm, in the range 1-100."
                            }
                          },
                          "required": [
                            "podAffinityTerm",
                            "weight"
                          ],
                          "description": "The weights of all of the matched WeightedPodAffinityTerm fields are added per-node to find the most preferred node(s)"
                        },
                        "properties": {
                          "items": {
                            "type": "object",
                            "properties": {
                              "podAffinityTerm": {
                                "type": "object",
                                "properties": {
                                  "labelSelector": {
                                    "type": "object",
                                    "properties": {
                                      "matchExpressions": {
                                        "type": "array",
                                        "items": {
                                          "type": "object",
                                          "properties": {
                                            "key": {
                                              "type": "string",
                                              "description": "key is the label key that the selector applies to."
                                            },
                                            "operator": {
                                              "type": "string",
                                              "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                                            },
                                            "values": {
                                              "type": "array",
                                              "items": {
                                                "type": "string"
                                              },
                                              "properties": {
                                                "items": {
                                                  "type": "string"
                                                }
                                              },
                                              "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                                            }
                                          },
                                          "required": [
                                            "key",
                                            "operator"
                                          ],
                                          "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                        },
                                        "properties": {
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "key": {
                                                "type": "string",
                                                "description": "key is the label key that the selector applies to."
                                              },
                                              "operator": {
                                                "type": "string",
                                                "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                                              },
                                              "values": {
                                                "type": "array",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "properties": {
                                                  "items": {
                                                    "type": "string"
                                                  }
                                                },
                                                "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                                              }
                                            },
                                            "required": [
                                              "key",
                                              "operator"
                                            ],
                                            "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                          }
                                        },
                                        "description": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
                                      },
                                      "matchLabels": {
                                        "type": "object",
                                        "properties": {
                                          "additionalProperties": {
                                            "type": "string"
                                          }
                                        },
                                        "additionalProperties": {
                                          "type": "string"
                                        },
                                        "description": "matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is \"key\", the operator is \"In\", and the values array contains only \"value\". The requirements are ANDed."
                                      }
                                    },
                                    "description": "A label query over a set of resources, in this case pods."
                                  },
                                  "namespaces": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    },
                                    "properties": {
                                      "items": {
                                        "type": "string"
                                      }
                                    },
                                    "description": "namespaces specifies which namespaces the labelSelector applies to (matches against); null or empty list means \"this pod's namespace\""
                                  },
                                  "topologyKey": {
                                    "type": "string",
                                    "description": "This pod should be co-located (affinity) or not co-located (anti-affinity) with the pods matching the labelSelector in the specified namespaces, where co-located is defined as running on a node whose value of the label with key topologyKey matches that of any node on which any of the selected pods is running. Empty topologyKey is not allowed."
                                  }
                                },
                                "required": [
                                  "topologyKey"
                                ],
                                "description": "Required. A pod affinity term, associated with the corresponding weight."
                              },
                              "weight": {
                                "type": "integer",
                                "format": "int32",
                                "description": "weight associated with matching the corresponding podAffinityTerm, in the range 1-100."
                              }
                            },
                            "required": [
                              "podAffinityTerm",
                              "weight"
                            ],
                            "description": "The weights of all of the matched WeightedPodAffinityTerm fields are added per-node to find the most preferred node(s)"
                          }
                        },
                        "description": "The scheduler will prefer to schedule pods to nodes that satisfy the affinity expressions specified by this field, but it may choose a node that violates one or more of the expressions. The node that is most preferred is the one with the greatest sum of weights, i.e. for each node that meets all of the scheduling requirements (resource request, requiredDuringScheduling affinity expressions, etc.), compute a sum by iterating through the elements of this field and adding \"weight\" to the sum if the node has pods which matches the corresponding podAffinityTerm; the node(s) with the highest sum are the most preferred."
                      },
                      "requiredDuringSchedulingIgnoredDuringExecution": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "labelSelector": {
                              "type": "object",
                              "properties": {
                                "matchExpressions": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "key": {
                                        "type": "string",
                                        "description": "key is the label key that the selector applies to."
                                      },
                                      "operator": {
                                        "type": "string",
                                        "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                                      },
                                      "values": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "properties": {
                                          "items": {
                                            "type": "string"
                                          }
                                        },
                                        "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "operator"
                                    ],
                                    "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                  },
                                  "properties": {
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "key": {
                                          "type": "string",
                                          "description": "key is the label key that the selector applies to."
                                        },
                                        "operator": {
                                          "type": "string",
                                          "description": "operator represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
                                        },
                                        "values": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "properties": {
                                            "items": {
                                              "type": "string"
                                            }
                                          },
                                          "description": "values is an array of string values. If the operator is In or NotIn, the values array must be non-empty. If the operator is Exists or DoesNotExist, the values array must be empty. This array is replaced during a strategic merge patch."
                                        }
                                      },
                                      "required": [
                                        "key",
                                        "operator"
                                      ],
                                      "description": "A label selector requirement is a selector that contains values, a key, and an operator that relates the key and values."
                                    }
                                  },
                                  "description": "matchExpressions is a list of label selector requirements. The requirements are ANDed."
                                },
                                "matchLabels": {
                                  "type": "object",
                                  "properties": {
                                    "additionalProperties": {
                                      "type": "string"
                                    }
                                  },
                                  "additionalProperties": {
                                    "type": "string"
                                  },
[...]
