{
  "swagger": "2.0",
  "info": {
    "title": "JabraDeviceManagementClient",
    "description": "Jabra Devices provider",
    "version": "2020-07-23-preview"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/jabra.devicemanager/devicehub": {
      "get": {
        "description": "Returns list of device hub.",
        "operationId": "DeviceHub_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Device hub details.",
            "schema": {
              "$ref": "#/definitions/DeviceHubList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/jabra.devicemanager/devicehub/{deviceHubName}": {
      "get": {
        "description": "Returns device hub resource for a given name.",
        "operationId": "DeviceHub_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "DeviceHub details.",
            "schema": {
              "$ref": "#/definitions/DeviceHub"
            }
          }
        }
      },
      "put": {
        "description": "Create or update device hub resource.",
        "operationId": "DeviceHub_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          },
          {
            "name": "DeviceHub",
            "description": "DeviceHub details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceHub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/DeviceHub"
            }
          },
          "201": {
              "description": "Long running operation."
           }
        }
      },
      "patch": {
        "description": "Update device hub resource.",
        "operationId": "DeviceHub_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          },
          {
            "name": "DeviceHub",
            "description": "DeviceHub details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceHub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful."
          }
        }
      },
      "delete": {
        "description": "Deletes the devicehub.",
        "operationId": "DeviceHub_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "default": {
            "description": "Error response describing why operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/jabra.devicemanager/devicehub/{deviceHubName}/headset": {
      "get": {
        "description": "Returns list of headset devices.",
        "operationId": "Headset_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of headset devices.",
            "schema": {
              "$ref": "#/definitions/HeadsetResourceList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/jabra.devicemanager/devicehub/{deviceHubName}/headset/{deviceName}": {
      "get": {
        "description": "Returns headset device resource for a given headset device name",
        "operationId": "Headset_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Headset device Resource.",
            "schema": {
              "$ref": "#/definitions/HeadsetResource"
            }
          }
        }
      },
      "put": {
        "description": "Create or update headset resource type.",
        "operationId": "HeadsetResourceType_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          },
          {
            "name": "HeadsetResourceType",
            "description": "Headset Resource Type details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HeadsetResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created - Returns information about the headset resource.",
            "schema": {
              "$ref": "#/definitions/HeadsetResource"
            }
          },
          "201": {
            "description": "Created - Long running operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "description": "Update headset resource type details.",
        "operationId": "HeadsetResourceType_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          },
          {
            "name": "HeadsetPatchResource",
            "description": "Headset resource patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HeadsetPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/HeadsetResource"
            }
          }
        }
      },
      "delete": {
        "description": "Delete headset resource.",
        "operationId": "HeadsetResourceType_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/DeviceHubNameParameter"
          },
          {
            "$ref": "#/parameters/DeviceNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "202": {
            "description": "Accepted - Returns this status until the asynchronous operation has completed."
          },
          "200": {
            "description": "Successful."
          },
          "default": {
            "description": "Error response describing why operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/jabra.devicemanager/operations": {
      "get": {
        "description": "Returns list of operations.",
        "operationId": "Operation_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation details.",
            "schema": {
              "$ref": "#/definitions/operationsList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "IotHubConfiguration": {
      "description": "IotHub configuration.",
      "properties": {
        "iotHubConnectionString": {
          "description": "IotHub connection string.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "EventHubConfiguration": {
      "description": "EventHub configuration.",
      "properties": {
        "iotHubConnectionString": {
          "description": "EventHub connection string.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "DeviceHub": {
      "properties": {
        "iotHubConfiguration": {
          "readOnly": true,
          "$ref": "#/definitions/IotHubConfiguration",
          "description": "The iothub configuration."
        },
        "eventHubConfiguration": {
          "readOnly": true,
          "$ref": "#/definitions/EventHubConfiguration",
          "description": "The eventhub configuration."
        }
      },
      "description": "The device hub resource."
    },
    "DeviceHubList": {
      "description": "The list of device hub.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of device hub list.",
          "type": "string"
        },
        "value": {
          "description": "The list of recommendations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceHub"
          }
        }
      }
    },
    "HeadsetResource": {
      "type": "object",
      "description": "Headset Resource details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": ["properties"],
      "properties": {
        "properties": {
          "properties": {
            "firmware": {
              "type": "string",
              "description": "Firmware version.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "esn": {
              "type": "string",
              "description": "Electronic serial number.",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "stereo": {
              "type": "boolean",
              "description": "A value indicating whether stereo is supported or not."
            },
            "loggingsupport": {
              "type": "boolean",
              "description": "A value indicating whether logging is supported or not."
            },
            "remotemmiv2support": {
              "type": "boolean",
              "description": "A value indicating whether remotemmiv2 is supported or not."
            },
            "msTeamsCertified": {
              "type": "boolean",
              "description": "A value indicating whether device is certified for Microsoft teams or not."
            }
          },
          "required": ["firmware", "esn"],
          "type": "object"
        }
      }
    },
    "HeadsetPatchResource": {
      "type": "object",
      "description": "Headset Resource details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": ["properties"],
      "properties": {
        "properties": {
          "properties": {
            "firmware": {
              "type": "string",
              "description": "Firmware version.",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "esn": {
              "type": "string",
              "description": "Electronic serial number.",
              "minLength": 1,
              "maxLength": 40,
              "pattern": "^[A-Za-z0-9-._]+$"
            },
            "stereo": {
              "type": "boolean",
              "description": "A value indicating whether stereo is supported or not."
            },
            "loggingsupport": {
              "type": "boolean",
              "description": "A value indicating whether logging is supported or not."
            },
            "remotemmiv2support": {
              "type": "boolean",
              "description": "A value indicating whether remotemmiv2 is supported or not."
            },
            "msTeamsCertified": {
              "type": "boolean",
              "description": "A value indicating whether device is certified for Microsoft Teams or not."
            }
          },
          "type": "object"
        }
      }
    },
    "HeadsetResourceList": {
      "description": "The list of headset devices.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of headset device list.",
          "type": "string"
        },
        "value": {
          "description": "The list of headset devices.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HeadsetResource"
          }
        }
      }
    },
    "operation": {
      "description": "Operation provided by provider",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation"
        },
        "display": {
          "type": "object",
          "description": "Properties of the operation",
          "properties": {
            "provider": {
              "type": "string",
              "description": "Provider name"
            },
            "resource": {
              "type": "string",
              "description": "Resource name"
            },
            "operation": {
              "type": "string",
              "description": "Operation name"
            },
            "description": {
              "type": "string",
              "description": "Description of the operation"
            }
          }
        }
      }
    },
    "operationsList": {
      "description": "Lists the operations available.",
      "properties": {
        "nextLink": {
          "description": "Url to follow for getting next page of operations.",
          "type": "string"
        },
        "value": {
          "description": "Array of operations",
          "type": "array",
          "items": {
            "$ref": "#/definitions/operation"
          }
        }
      },
      "required": ["value"]
    },
    "ErrorResponse": {
      "description": "Error response indicates failure to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "httpStatus": {
          "description": "Http status code.",
          "type": "string"
        },
        "errorCode": {
          "description": "Error code.",
          "type": "string"
        },
        "errorMessage": {
          "description": "Error message indicating why operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "DeviceHubNameParameter": {
      "name": "deviceHubName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of devicehub resource.",
      "x-ms-parameter-location": "method"
    },
    "DeviceNameParameter": {
      "name": "deviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of headset device.",
      "x-ms-parameter-location": "method"
    }
  }
}
