{
    "swagger": "2.0",
    "info": {
      "title": "JabraDeviceManagementClient",
      "description": "Jabra Devices provider",
      "version": "2020-07-23-preview"
    },
    "host": "management.azure.com",
    "schemes": ["https"],
    "consumes": ["application/json"],
    "produces": ["application/json"],
    "security": [
      {
        "azure_auth": ["user_impersonation"]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/jabra.devicemanager/devicehub/{deviceHubName}/thermostat": {
        "get": {
          "description": "Returns list of headset devices.",
          "operationId": "Headset_ListByResourceGroup",
          "parameters": [
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/DeviceHubNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "List of headset devices.",
              "schema": {
                "$ref": "#/definitions/ThermostatList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/jabra.devicemanager/devicehub/{deviceHubName}/thermostat": {
        "get": {
          "description": "Returns list of headset devices.",
          "operationId": "Headset_ListBySubscription",
          "parameters": [
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/DeviceHubNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "List of headset devices.",
              "schema": {
                "$ref": "#/definitions/ThermostatList"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "deprecated": false,
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/jabra.devicemanager/devicehub/{deviceHubName}/thermostat/{deviceName}": {
        "get": {
          "description": "Returns headset device resource for a given headset device name",
          "operationId": "Headset_Get",
          "parameters": [
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/DeviceHubNameParameter"
            },
            {
              "$ref": "#/parameters/DeviceNameParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "thermostat device Resource.",
              "schema": {
                "$ref": "#/definitions/Thermostat"
              }
            },
            "404": {
              "description": "Headset not found."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "put": {
          "description": "Create or update headset resource type.",
          "operationId": "HeadsetResourceType_CreateAndUpdate",
          "parameters": [
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/DeviceHubNameParameter"
            },
            {
              "$ref": "#/parameters/DeviceNameParameter"
            },
            {
              "name": "HeadsetResourceType",
              "description": "Headset Resource Type details.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/Thermostat"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Created - Returns information about the headset resource.",
              "schema": {
                "$ref": "#/definitions/Thermostat"
              }
            },
            "201": {
              "description": "Created - Long running operation."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation": true
        },
        "delete": {
          "description": "Delete headset resource.",
          "operationId": "HeadsetResourceType_Delete",
          "parameters": [
            {
              "$ref": "#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "#/parameters/DeviceHubNameParameter"
            },
            {
              "$ref": "#/parameters/DeviceNameParameter"
            }
          ],
          "responses": {
            "404": {
              "description": "Not found."
            },
            "202": {
              "description": "Accepted - Returns this status until the asynchronous operation has completed."
            },
            "200": {
              "description": "Successful."
            },
            "default": {
              "description": "Error response describing why operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-long-running-operation": true
        }
      }
    },
    "definitions": {
      "Resource": {
        "description": "An Azure resource.",
        "properties": {
          "id": {
            "description": "Azure resource Id.",
            "type": "string",
            "readOnly": true
          },
          "name": {
            "description": "Azure resource name.",
            "type": "string",
            "readOnly": true
          },
          "type": {
            "description": "Azure resource type.",
            "type": "string",
            "readOnly": true
          },
          "location": {
            "description": "Location of the resource.",
            "type": "string",
            "readOnly": false
          },
          "tags": {
            "description": "resource tags.",
            "type": "object",
            "readOnly": false,
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "x-ms-azure-resource": true
      },
      "Thermostat": {
        "type": "object",
        "description": "The thermostat hub resource.",
         "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ],
        "required": ["properties"],
        "properties":{
          "properties": {
            "type":"object",
            "description":"The properties",
            "properties":{
              "maxTempSinceLastReboot": {
                "type": "string",
                "description": "The iothub configuration."
              },
              "thermoStatVersion": {
                "type": "string",
                "description": "The eventhub configuration."
              }
          }
        }
      }
      },
      "ThermostatList": {
        "description": "The list of THermostat hub.",
        "type": "object",
        "properties": {
          "nextLink": {
            "description": "The link used to get the next page of device hub list.",
            "type": "string"
          },
          "value": {
            "description": "The list of recommendations.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/Thermostat"
            }
          }
        }
      },
      "operation": {
        "description": "Operation provided by provider",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the operation"
          },
          "display": {
            "type": "object",
            "description": "Properties of the operation",
            "properties": {
              "provider": {
                "type": "string",
                "description": "Provider name"
              },
              "resource": {
                "type": "string",
                "description": "Resource name"
              },
              "operation": {
                "type": "string",
                "description": "Operation name"
              },
              "description": {
                "type": "string",
                "description": "Description of the operation"
              }
            }
          }
        }
      },
      "operationsList": {
        "description": "Lists the operations available.",
        "properties": {
          "nextLink": {
            "description": "Url to follow for getting next page of operations.",
            "type": "string"
          },
          "value": {
            "description": "Array of operations",
            "type": "array",
            "items": {
              "$ref": "#/definitions/operation"
            }
          }
        },
        "required": ["value"]
      },
      "ErrorResponse": {
        "description": "Error response indicates failure to process the incoming request. The reason is provided in the error message.",
        "type": "object",
        "properties": {
          "httpStatus": {
            "description": "Http status code.",
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "type": "string"
          },
          "errorMessage": {
            "description": "Error message indicating why operation failed.",
            "type": "string"
          }
        }
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The Azure subscription ID."
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "Client Api Version."
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the resource group.",
        "x-ms-parameter-location": "method"
      },
      "DeviceHubNameParameter": {
        "name": "deviceHubName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of devicehub resource.",
        "x-ms-parameter-location": "method"
      },
      "DeviceNameParameter": {
        "name": "deviceName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of headset device.",
        "x-ms-parameter-location": "method"
      }
    }
  }
  