{
  "swagger": "2.0",
  "info": {
    "title": "AzureCodeSign",
    "description": "Azure Code Sign Resource Provider Account and CertificateProfile management API",
    "version": "2020-12-14-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.CodeSigning/codeSignAccounts": {
      "get": {
        "operationId": "CodeSignAccounts_List",
        "tags": [
          "CodeSignAccount"
        ],
        "description": "Lists Code Sign accounts within a subscription",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified subscription",
            "schema": {
              "$ref": "#/definitions/CodeSignAccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts": {
      "get": {
        "operationId": "CodeSignAccounts_ListByResourceGroup",
        "tags": [
          "CodeSignAccount"
        ],
        "description": "List code sign accounts within a resource group",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified resource group",
            "schema": {
              "$ref": "#/definitions/CodeSignAccounts"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}": {
      "get": {
        "operationId": "CodeSignAccount_Get",
        "tags": [
          "CodeSignAccount"
        ],
        "description": "Gets the specified code sign account",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Get code sign account",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CodeSignAccount_Create",
        "tags": [
          "CodeSignAccount"
        ],
        "description": "Create a code sign account",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "in": "body",
            "name": "CodeSignAccount",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "CodeSignAccount_Update",
        "tags": [
          "CodeSignAccount"
        ],
        "description": "Update a code sign account",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/CodeSignAccountPatchBodyParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CodeSignAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "CodeSignAccount_Delete",
        "tags": [
          "CodeSignAccount"
        ],
        "description": "Delete code sign account",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "The resource was not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}/certificateProfiles": {
      "get": {
        "operationId": "CertificateProfiles_Get",
        "tags": [
          "CertificateProfile"
        ],
        "description": "List certificate profiles within a code sign account",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          }
        ],
        "x-ms-examples": {},
        "responses": {
          "200": {
            "description": "Gets all code sign accounts in the specified resource group",
            "schema": {
              "$ref": "#/definitions/CertificateProfiles"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CodeSigning/codeSignAccounts/{accountName}/certificateProfile/{profileName}": {
      "get": {
        "operationId": "CertificateProfile_Get",
        "tags": [
          "CertificateProfile"
        ],
        "description": "Get details of particular certificate profile",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "CertificateProfile_Create",
        "tags": [
          "CertificateProfile"
        ],
        "description": "Create a certificate profile",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          },
          {
            "in": "body",
            "name": "CertificateProfile",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a certificate profile",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "CertificateProfile_Update",
        "tags": [
          "CertificateProfile"
        ],
        "description": "Update certificate profile",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          },
          {
            "in": "body",
            "name": "CertificateProfile",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "CertificateProfile_Disable",
        "tags": [
          "CertificateProfile"
        ],
        "description": "Disable certificate profile",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParam"
          },
          {
            "$ref": "#/parameters/ProfileNameParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "The resource was not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.CodeSigning/operations": {
      "get": {
        "description": "Lists all of the available API operations for code signing resource.",
        "operationId": "Operations_Get",
        "x-ms-examples": {},
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CodeSignAccounts": {
      "description": "The paginated list of code sign accounts",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of code sign accounts",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodeSignAccount"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of code sign account",
          "type": "string"
        }
      }
    },
    "CertificateProfiles": {
      "description": "The paginated list of certifcate profiles",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of certifcate profiless",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateProfile"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of certifcate profile",
          "type": "string"
        }
      }
    },
    "CodeSignAccount": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CodeSignAccountProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CodeSignAccountProperties": {
      "description": "Code sign account properties",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "certificateProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CertificateProfile"
          }
        }
      }
    },
    "CodeSignAccountPatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Object containing updates for patch operations."
    },
    "CertificateProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CertificateProfileProperties"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CertificateProfileProperties": {
      "description": "Certificate profile properties",
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        },
        "dnsNames": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "rotationPolicy": {
          "$ref": "#/definitions/RotationPolicy"
        }
      }
    },
    "RotationPolicy": {
      "enum": [
        "Monthly",
        "Quaterly",
        "Yearly"
      ],
      "type": "string"
    },
    "OperationList": {
      "description": "The paginated list of code signing API operations.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of code signing API operations."
        },
        "nextLink": {
          "type": "string",
          "description": "The link to fetch the next page of code signing API operations."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "The code signing API operation",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {Microsoft.Kubernetes}/{resource}/{operation}"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Code sign resource on which the operation is performed",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation read, write, etc",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "AccountNameParam": {
      "name": "accountName",
      "description": "ACS account name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ProfileNameParam": {
      "name": "profileName",
      "description": "Certificate profile name",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "CodeSignAccountPatchBodyParam": {
      "in": "body",
      "name": "CodeSignAccountPatch",
      "required": true,
      "schema": {
        "$ref": "#/definitions/CodeSignAccountPatch"
      },
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParam": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API called"
    }
  }
}
