{
  "swagger": "2.0",
  "info": {
    "title": "LoadTest Client",
    "description": "LoadTest client provides access to LoadTest Resource and it's status operations.",
    "version": "2020-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2"
    }
  },
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "paths": {
    "/providers/Microsoft.LoadTestService/operations": {
      "get": {
        "tags": ["Operations"],
        "description": "Lists all the available API operations for Load Test Resource.",
        "operationId": "Operations_List",
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationPageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/loadtests": {
      "get": {
        "tags": ["LoadTests"],
        "description": "Lists loadtests resources in a subscription.",
        "operationId": "LoadTests_ListBySubscription",
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LoadTestResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests": {
      "get": {
        "tags": ["LoadTests"],
        "description": "Lists loadtest resources in a resource group.",
        "operationId": "LoadTests_ListByResourceGroup",
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of loadtests resources retrieved",
            "schema": {
              "$ref": "#/definitions/LoadTestResourcePageList"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}": {
      "get": {
        "tags": ["LoadTests"],
        "description": "Get a LoadTest resource.",
        "operationId": "LoadTests_Get",
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- loadtest resource retrieved",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_Get.json"
          }
        }
      },
      "put": {
        "tags": ["LoadTests"],
        "description": "Create or update LoadTest resource.",
        "operationId": "LoadTests_CreateOrUpdate",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          },
          {
            "in": "body",
            "name": "LoadTestResource",
            "description": "LoadTest resource data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated -- LoadTest resource updated",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": ["LoadTests"],
        "description": "Update a loadtest resource.",
        "operationId": "LoadTests_Update",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          },
          {
            "in": "body",
            "name": "ResourcePatchRequestBody",
            "description": "LoadTest resource update data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatchRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- resource updated",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_Update.json"
          }
        }
      },
      "delete": {
        "tags": ["LoadTests"],
        "description": "Delete a LoadTest resource.",
        "operationId": "LoadTests_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LoadTestNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Resource not found"
          },
          "200": {
            "description": "OK -- LoadTest resource deleted"
          },
          "default": {
            "description": "Resource provider error response about the failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests": {
            "$ref": "./examples/LoadTests_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperationPageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Operation": {
      "description": "LoadTest operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "LoadTest API operation.",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is data action or not.",
          "type": "boolean"
        },
        "display": {
          "description": "Operation display information.",
          "$ref": "#/definitions/OperationDisplayInfo"
        }
      }
    },
    "OperationDisplayInfo": {
      "description": "Operation display details.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource Provider: Microsoft.LoadTestService",
          "type": "string"
        },
        "resource": {
          "description": "LoadTest resource type",
          "type": "string"
        },
        "operation": {
          "description": "Operation on the resource type.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation.",
          "type": "string"
        }
      }
    },
    "LoadTestResourcePageList": {
      "description": "List of resources page result.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of resources in current page.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadTestResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string"
        }
      }
    },
    "LoadTestResource": {
      "type": "object",
      "description": "LoadTest details",
      "properties": {
        "properties": {
          "description": "Load Test resource properties",
          "$ref": "#/definitions/LoadTestProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ResourcePatchRequestBody": {
      "description": "LoadTest resource patch request body.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "LoadTestProperties": {
      "description": "LoadTest resource properties.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the resource.",
          "maxLength": 512,
          "type": "string"
        },
        "provisioningState": {
          "description": "Resource provisioning state.",
          "$ref": "#/definitions/ResourceState",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string",
          "readOnly": false
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorResponse": {
      "description": "Api error response on failure.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Error details",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorDetails": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        }
      }
    },
    "ResourceState": {
      "description": "Load Test resources provisioning states.",
      "enum": ["Succeeded", "Failed", "Canceled", "Deleted"],
      "type": "string",
      "x-ms-enum": {
        "name": "ResourceState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "LoadTestNameParameter": {
      "in": "path",
      "name": "loadTestName",
      "description": "Load Test name.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}
