{
  "swagger": "2.0",
  "info": {
    "title": "AzureSphereManagementClient",
    "description": "Use these APIs to manage Azure Sphere in your Azure subscription",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/AzureSphereTenants": {
      "get": {
        "tags": [ "Tenants" ],
        "description": "Returns a list of Azure Sphere Tenants.",
        "operationId": "AzureSphereTenant_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Sphere Tenants for the subscription details.",
            "schema": {
              "$ref": "#/definitions/AzureSphereTenantList"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/AzureSphereTenant/{azureSphereTenantName}": {
      "get": {
        "tags": [ "Tenants" ],
        "description": "Returns an Azure Sphere Tenant for a given name.",
        "operationId": "AzureSphereTenant_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereTenantNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Sphere Tenant details.",
            "schema": {
              "$ref": "#/definitions/AzureSphereTenant"
            }
          }
        }
      },
      "put": {
        "tags": [ "Tenants" ],
        "description": "Create or update an Azure Sphere Tenant.",
        "operationId": "AzureSphereTenant_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereTenantNameParameter"
          },
          {
            "name": "AzureSphereTenant",
            "description": "Azure Sphere Tenant details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureSphereTenant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzureSphereTenant"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/AzureSphereTenant/{azureSphereTenantName}/Product/{productName}": {
      "get": {
        "tags": [ "Products" ],
        "description": "Returns nested Product for a given Azure Sphere Tenant Name",
        "operationId": "Product_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereTenantNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Product.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "put": {
        "tags": [ "Products" ],
        "description": "Create or update a product.",
        "operationId": "Product_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereTenantNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          },
          {
            "name": "Product",
            "description": "Product details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      },
      "patch": {
        "tags": [ "Products" ],
        "description": "Patch Product details.",
        "operationId": "Product_Patch",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereTenantNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          },
          {
            "name": "ProductPatch",
            "description": "Product patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/AzureSphereTenant/{azureSphereTenantName}/Products": {
      "get": {
        "tags": [ "Products" ],
        "description": "Returns products for a given Azure Sphere Tenant name",
        "operationId": "Product_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereTenantNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Products.",
            "schema": {
              "$ref": "#/definitions/ProductList"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "AzureSphereTenant": {
      "type": "object",
      "description": "Azure Sphere Tenant details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [ "properties" ],
      "properties": {
        "properties": {
          "type": "object"
          }
        }
    },
    "AzureSphereTenantList": {
      "description": "The list of Azure Sphere Tenants.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Azure Sphere Tenant list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Azure Sphere Tenants.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureSphereTenant"
          }
        }
      }
    },
    "Product": {
      "type": "object",
      "description": "Product details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [ "properties" ],
      "properties": {
        "properties": {
          "properties": {
            "description": {
              "type": "string",
              "description": "Product description.",
              "minLength": 1,
              "maxLength": 150,
              "pattern": "^[A-Za-z0-9-._]+$"
            }
          },
          "required": [ "description"],
          "type": "object"
        }
      }
    },
    "ProductList": {
      "description": "The list of Products.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of the Product list.",
          "type": "string"
        },
        "value": {
          "description": "The list of products.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "AzureSphereTenantNameParameter": {
      "name": "azureSphereTenantName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure Sphere Tenant.",
      "x-ms-parameter-location": "method"
    },
    "ProductNameParameter": {
      "name": "productName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of nested resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
