{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the network function deployment in a hybrid network resource provider.",
    "version": "2020-09-29-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions/{networkFunctionName}": {
      "delete": {
        "tags": [
          "NetworkFunctions"
        ],
        "operationId": "NetworkFunctions_Delete",
        "description": "Deletes the specified hybrid network network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkFunctionName",
            "description": "The name of the hybrid network network function.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header pointing to an operations resource. The operation URI can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Delete hybrid network network function resource": {
            "$ref": "./examples/NetworkFunctionDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "NetworkFunctions"
        ],
        "operationId": "NetworkFunctions_Get",
        "description": "Gets information about the specified hybrid network network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the hybrid network network function resource."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation is successful. The operation returns the resulting hybrid network network function resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Get hybrid network network function resource": {
            "$ref": "./examples/NetworkFunctionGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkFunctions"
        ],
        "operationId": "NetworkFunctions_CreateOrUpdate",
        "description": "Creates or updates a hybrid network network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource name for the hybrid network network function resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            },
            "description": "Parameters supplied in the body to the create or update hybrid network network function operation."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "201": {
            "description": "Created or Updated. The header contains 'Azure-AsyncOperation' header pointing to an operation resource. The operation URI can be queried to find the current state of the operation.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Create hybrid network network function resource": {
            "$ref": "./examples/NetworkFunctionCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "NetworkFunctions"
        ],
        "operationId": "NetworkFunctions_UpdateTags",
        "description": "Updates the tags for the hybrid network network function resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "networkFunctionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Resource name for the network function resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the update hybrid network network function tags operation."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update is completed successfully. The operation returns the resulting hybrid network network function resource.",
            "schema": {
              "$ref": "#/definitions/NetworkFunction"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "Update tags for hybrid network network function resource": {
            "$ref": "./examples/NetworkFunctionUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctions": {
      "get": {
        "description": "Lists all the hybrid network network functions in a subscription.",
        "operationId": "NetworkFunctions_ListBySubscription",
        "parameters": [
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network network function resources.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "tags": [
          "NetworkFunctions"
        ],
        "x-ms-examples": {
          "List all hybrid network network function resources in subscription.": {
            "$ref": "./examples/NetworkFunctionListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridNetwork/networkFunctions": {
      "get": {
        "tags": [
          "NetworkFunctions"
        ],
        "operationId": "NetworkFunctions_ListByResourceGroup",
        "description": "Lists all the hybrid network network function resources in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of hybrid network network function resources.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-examples": {
          "List hybrid network network function in resource group": {
            "$ref": "./examples/NetworkFunctionListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkFunction": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkFunctionPropertiesFormat",
          "description": "Hybrid network network function properties."
        },
        "etag": {
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/Resource"
        }
      ],
      "description": "Hybrid network network function resource response."
    },
    "NetworkFunctionPropertiesFormat": {
      "description": "Hybrid network network function properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the hybrid network network function resource."
        },
        "device": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The reference to the hybrid network device."
        },
        "skuName": {
          "type": "string",
          "description": "The sku name for the hybrid network network function."
        },
        "skuType": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/SkuType",
          "description": "The sku type for the hybrid network network function."
        },
        "vendorName": {
          "type": "string",
          "description": "The vendor name for the hybrid network network function."
        },
        "serviceKey": {
          "type": "string",
          "readOnly": true,
          "description": "The service key for the network function resource."
        },
        "vendorProvisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/VendorProvisioningState",
          "description": "The vendor provisioning state for the network function resource."
        },
        "managedApplication": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The resource URI of the managed application."
        },
        "managedApplicationParameters": {
          "$ref": "./common.json#/definitions/ManagedApplicationParameters",
          "description": "The parameters for the managed application."
        },
        "networkFunctionUserConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkFunctionUserConfiguration"
          },
          "description": "The network function configurations from the user."
        }
      }
    },
    "NetworkFunctionListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkFunction"
          },
          "description": "A list of hybrid network network function resources in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for hybrid network network function API service call."
    },
    "NetworkFunctionUserConfiguration": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "The name of the network function role."
        },
        "userDataParameters": {
          "$ref": "./common.json#/definitions/UserDataParameters",
          "description": "The user data parameters from the customer."
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/NetworkInterface"
          },
          "description": "The network interface configuration."
        }
      },
      "description": "The network function user configuration."
    }
  }
}
